<h1>Things that work because you believe them to</h1>
<p>There is a certain category of device that works solely because you believe it to. For example, a group that meets down at the local pub for drinks every thursday afternoon. What is that "group"? Nothing physical defines it, but it exists, and it does so simply because all the members agree that it does and agree to
 meet at that place/time. Many other things that depends on group consensus also only work because people believe them to. A government that no-one believe functions becomes something that no longer represents the people, and hence it becomes a government that doesn't funciton properly. </p>
<p>
There are other things that share this trait. Consider the saying "sticks and stones may break my bones but words will never hurt me". Consider what happens if you are a person who believes that words cannot hurt you: then when someone says something mean, you externalize and ... the words don't hurt you. But if you know/believe that words can hurt, then ... hurtful words do hurt. If you teach that saying as a truth, it becomes truth. If you teach it as a lie, then the lie becomes truth. 
</p>
<p>
A lot of rhetoric falls into this two-sided category. Depending on the viewer/listener, it will mean two different things. A report on how the city coucil is planning to do action "X" will convince one group of people that the council is good and is planning ahead (if they initially believed that), but will also convince a different group of people that the council is bad is is turning into a dictatorship (if they initially believed that). I see this as a central problem in the misinformation-wars that are currently ongoing, and no-one seems to be fighting on that particular battlefield. If you can communicate something that both sides understand the same way - you're probably half way to winning the argument!
</p>
