<h1>Shaving</h1>
<p>
Pretty much ever since university days I've had a beard. Sometimes a really big one, sometimes I wacked it down with a hair trimmer so it was a short beard. But about a year ago I started shaving a couple times a week pretty consistently. Why? I got a straight razor/shavette from Aliexpres for a couple dollars.
</p>
<p>
I'm not going to try sell you on a straight/cutthroat razor. They are definitely inferior to modern razors, but they have one advantage in my mind: it turns a task of mindless face-scraping into something that requires skill, something that I can get better at. And that makes it more fun.
</p>
<p>
I see similar things in other parts of my life. If something is too easy, and I can do it in my sleep, then it is boring (and I probably will fall asleep!), but if something has progression - I can learn to do it better, then I will be much more engaged. This is why I prefer sail boats to motor boats, why I enjoy programming more than movies, and creating more than buying.
</p>
