<h1> Distro or Window Manager</h1>
<p>
Because there are millions to choose from, each slightly different. How
do you pick? Does it make a difference?
</p>
<p>
I'll start off by listing what I've used. For most of the time I've had a
computer, I've used Ubuntu. However, recent changes gradually drove me
away. The Unity interface was OK, and I could have coped with that, but
it was getting a more bloated feel to it. Advertising was springing up
inside the unity start menu, and it's yet another thing to do when you
install it.
</p>
<p>
But actually, I never used Unity. For the past couple years I've been
playing with window managers. You see, I had to deal with a very low
spec PC for a long time. 1.6ghz processor isn't too bad, but 256mb ram
and 8gb hard drive sure is. Unity absolutely killed it. Ubuntu 10.04
was the OS of choice for me back then, but even it's interface ate
up nearly all the ram. So I played. Wmii was my first one to try,
providing a nice easy introduction into the world of tiling window
managers. A little later I tried i3wm. And surprise, I still use i3wm.
</p>
<p>
Currently I've switched to the Linux Mint side of things. Sure, it's a
Ubuntu derivative, so it's not really different at all. Once you switch
out the window manager (I picked the xfce4 one) for the one I use (i3),
and copy across the settings, there's no difference at all.
</p>
<p>
And that's whats grat about linux operating systems isn't it? It
doesn't matter what goes on behind the hood. No matter what linux OS
you are running, if you're an arch user, slax, ubuntu, or whatever, you
can still get the same look and feel. The only difference is how to
install new programs, slight file-system changes, and things that
no-one really cares about.
</p>
<p>
So which linux OS is better? None. The trick is not to find the best
OS, but to find a window manager that fits your workflow. Because
that's the bit you actually see.
</p>

