<h1> The Swiss Alps</h1>
<p>
While the high country of New Zealand is spectacular, so are the alps in
Switzerland. Sometimes I wish I had a proper camera - but then I look at the
price tag. Maybe one day. These are photos from two separate trips.
</p>
<p>
<a href="Images/swiss1.jpg"><img src="Images/swiss1.jpg" title="Mt Santis in the distance"></img></a>
<a href="Images/swiss2.jpg"><img src="Images/swiss2.jpg" title="Mt Santis with some zoom"></img></a>
<a href="Images/swiss5.jpg"><img src="Images/swiss5.jpg" title="Up bends the world"></img></a>
<a href="Images/swiss3.jpg"><img src="Images/swiss3.jpg" title="Look at that bend in the rock"></img></a>
<a href="Images/swiss4.jpg"><img src="Images/swiss4.jpg" title="The buildings are so cute"></img></a>
<a href="Images/swiss6.jpg"><img src="Images/swiss6.jpg" title="And the mountains so majestic"></img></a>
<a href="Images/swiss7.jpg"><img src="Images/swiss7.jpg" title="So majestic"></img></a>
<a href="Images/swiss8.jpg"><img src="Images/swiss8.jpg" title="The amount of rock is just enormous"></img></a>
<a href="Images/swiss9.jpg"><img src="Images/swiss9.jpg" title="Me and Mother"></img></a>
<a href="Images/swiss10.jpg"><img src="Images/swiss10.jpg" title="Evil Villian Hideout #3"></img></a>
<a href="Images/swiss11.jpg"><img src="Images/swiss11.jpg" title="A perfect lake"></img></a>
<a href="Images/swiss12.jpg"><img src="Images/swiss12.jpg" title="My cellphone ruined this photo, so I decided to make it artistic"></img></a>
<a href="Images/swiss13.jpg"><img src="Images/swiss13.jpg" title="A perfect cloud"></img></a>
<a href="Images/swiss14.jpg"><img src="Images/swiss14.jpg" title="And a perfect little church"></img></a>
</p>

