<h1>Swoop</h1>
<p>
For a while I've been wanting to know what happens underneath the hood
of a game engine. I've also wanted to learn rust, make a program in WASM,
and I had some concept art for a simple racing game. These things all
came together to make swoop.
</p>
<div class="gallery">
    <img src="title.png">
    <img src="concept_art.png">
</div>

<p>
You can <a href="game/index.html">play it in fullscreen</a> or you can
play it embedded by the iframe below and using the enter/arrow keys:</br>
<iframe width="512" height="360" frameborder="0" src="game/index.html" allowfullscreen></iframe>
</br>


</p>
<p>
Looking at the date on my tablet, that concept art was done in 2017.
Back in 2017 I didn't know about rust, and I planned to do it in javascrtipt.
I got as far as making a few sprites and that was it.
</p>
<p>
Then in 2020 I discovered shadertoy, and discovered that you could store
state across passes of an image and you could get keyboard input.
This meant you could ... make games! So I made it and called it "space
racer". You can play that version here: 
<br>
<iframe width="512" height="360" frameborder="0" src="https://www.shadertoy.com/embed/WlScWd?gui=true&t=10&paused=true&muted=false" allowfullscreen></iframe>
<br>

But there were some limitations to do with how much data can be stored
(otherwise you have performance issues), and working in GLSL is, while
very "pure" and mathematical, can be hard to debug. So I made a version
in rust
</p>
<p>
Building this was a fun experience. I learned a lot about why game 
engines are the way they are, and discovered that programming in webGL 
is actually easier than I feared (still, not <i>that</i> easy). One 
thing that surprised me was that when I showed it to another game 
developer (in an early stage of development) he went "wow, that's 
really polished already". I think what caused this is that everything 
is mathematically perfect rather than human perfect. The trail fadeout 
is smooth not because someone hand-painted a smooth line, but because 
it's a function of a linear decline. Similarly, the acceleration feels 
good and consistent because it obeys proper conservation of inertia.
</p>
<p>
There are some cool technical things in this game, such as the map 
being a polar-fourier-series and I'm really happy with the splines used 
for the trails and how the AI tries to predict it's future path. If you 
want to read about the process of making it, <a 
href="https://sdfgeoff.github.io/wasm_minigames/a_first_game_swoop.html">I 
wrote it up as I was going.</a> And to my surprise, it featured in the 
<a 
href="https://rust-gamedev.github.io/posts/newsletter-017/#swoop">Rust 
Gamedev Newsletter issue #17</a>
</p>
