<h1>Jumping into a river vs getting washed off your feet</h1>
<p>
One of the first things we did on the course I'm doing was to learn how to cross rivers. We did this by a day or so of theory (where should you cross) and then an afternoon out actually crossing rivers.
</p>
<p>
The river was high, but still crossable by all of the class. We practiced methods like leaning against a stick, linking arms, working our way downstream at an angle, and so on. But there's one thing the tutors didn't have us practice: actually getting washed our your feet - and I think something was lost because of it.
</p>
<p>
The closest thing we did was to practice recovering our footing - we would jump into a fast flowing section and try to stand up. After a while I went up to our tutor and asked something along the lines of "I'd like to go into that really deep really fast section. I know I'll get washed off my feet, but I'd like to do it". To which he (being awesome) said "I'll be standing here downstream so I can pluck you out, yeah, go for it".
</p>
<p>
So what is the difference between jumping into a river and getting washed off your feet? Well, to me the biggest is that when you jump into a river you know you will lose control. When you get washed off your feet it just, well, happens and your brain is a couple seconds late in figuring it out. Even though I knew I was likely to get washed off my feet there was an initial "oh, what on earth is happening?" Looking at a video one of my classmates took, I was washed downstream by at least a couple meters before I really realized what had happened and started trying to regain my footing.
</p>
<p>
So what did I learn? Well, downstream is really important - and not just a short distance downstream. If you lose your footing you are travelling at least 10m. Also I learned that practice has to be the right practice. This experience made me wonder about other areas of training and how they may be practicing the "wrong" thing. For example: If you're training to be a firefighter, how much time is spent training pump operation and how much is spent training you how to react when there is someone burning alive infront of you and the building starts collapsing? Can you train for the second situation at all? Can you do so within a learning institution?
</p>
<p>
So what skills are there that can't be easily trained? How a person behaves under stress is one (though the military does their best on this - have a read of "Training For War" by Tom Kratman). Are there others? 
</p>
