<h1>Rain Diverter</h1>
<p>
In one corner of my section there stands a black barrel that I think the previous owners intended to use as a rain barrel. As the forecast for this weekend was for rain, I thought I'd hook it up.
</p>
<img src="working.jpg"/>
<img src="holes.jpg"/>
<img src="tube.jpg"/>
<img src="crosssection.jpg"/>
<p>
As I have a 3d printer, I elected to print the parts needed to divert water from the downpipe. I wasn't happy with any of the designs online, so I made my own.
</p>
<h3>Features:</h3>
<ul>
<li>
From the top it's a complete tube. If you dropped a tennisball down the downpipe it would come out the bottom. Instead of any protrusion it uses surface tension to pull the water off to the side.
</li>
<li>
Placement of holes means no water can “miss” the holes. This makes it efficient even at very low flow rates.
</li>
<li>
The holes are small (3mm) and there are no protrusions. So debris should not get stuck. We'll see how this works in practice.
</li>
<li>
Barb for a 10-12mm ID hose (normal garden hose in New Zealand)
</li>
<li>
No supports required
</li>
</ul>
<p>
Does it work? Yeah, very well. In my tests no water made it past the diverter at all. Perfect!
</p>

<p>
In my mind this is a pretty ideal use of 3D printing. I had a problem I wanted to solve, and could solve it with the tools on hand. And as an aside, this part would be very hard to make with any other manufacturing technique due to it's internal geometry, but it trivial to make with a printer.</p>
