<h1> Age and the Internet</h1>
<p>
In the physical world age dictates how people act towards you. People look
at you, and decide if you're "old enough" to be "sensible enough" to do
something. At school, we're divided up based on age, and only later in
life does this 'age focusseness' become less. On the internet, we don't
have those sorts of barriers. People are treated, not according to
their age, but according to the manner in which they present
themselves.
</p>
<p>
That's why I first started visiting various community-based sites
around the internet.
</p>
<p>
In the physical world, people took my youth to mean that I was unable to be
serious and was unable to contribute in a useful manner to discussions.
However, I found adult conversations to be more interesting than those
of people my own age. But because of the age differences, very often I
was not taken seriously in said conversations, and hence I learned to
be quiet and just listen. Of course there were exceptions to that, like
some of our good family friends, and my own family, and a few others.
So thanks guys. Often I would sit with the 'kids' and pay no attention
to them, focusing more on the adults around me. This applied up through
to about year 13 at school, when I became 'old enough' to be part of the
adult circle.
</p>
<p>
When I first signed up to a website in 2010 (when I was 14). I discovered
that no-one knew my age, and so they treated me based on what they
could read from what I wrote. Conversations were all of a sudden much
more interesting, and I could contribute as well as receive. So for
many years at school, while I was treated a 'kid' in real life, on the
internet, I was an adult.
</p>
<p>
Is it unlikely that the communication failures between teenagers and
their parents are the result of the teenagers being treated like
children? The children turn to the internet, where they are adults, and
begin to forget the boring people in the real world. According to this
theory, yet another thing parents need to do to ensure the relationship
between them and their children remains intact is to treat their
children like adults. Yes, the children will still have interaction
with people on the internet, but they won't be as alienated from the
physical world in the same way many children today are.
</p>

This was also posted on my Facebook, where it gained the comment:

<code>
In real life, if a child disagrees with a teacher, it's seen as
rebellion. But if the same kid writes an anonymous blog post about why
the education system is flawed, people will take him seriously.
</code>


