<h1>One Step Outside</h1>
<p>
At school, there is normally onr circle of people who are the "outsiders." They aren't the cool group, they aren't even the normal not-cool group, they are the misfits who all hang out together because, for whatever reason, they don't fit into the normal social circles.
</p>
<p>
Where do these people end up after graduating? They end up one step outside normal society. Maybe some will be found working at coffee shops, but I suspect large numbers of them are people who live in vans at holiday parks, or who build their own tiny-homes and make an agreement with a farmer. Even if they live inside a city, chances are they still don't quite fit the normal mold. Instead of being found at the sports field oplaying soccer n a Saturday afternoon, perhaps they can be found at home with a piece of paper and an interesting math problem. And instead of attending a church, perhaps they could be in a workshop, creating intricate parts for their latest project.
</p>
<p>
But these are <i>the</i> interesting people. If you don't know them, they will not talk to you much, but they are familiar with you, perhaps you will hear some of their deep philosophical ideas, perhaps you will be able to buy a whole pig off them for a BBQ, and perhaps one day a random piece of artwork will turn up at your door with a note "I made this for you". Things work differently on the fringe.
</p>
<p>
If you're looking for normal people doing normal things, look in an office. If you want to find a human, look on the edge of society. There can be found the artists, the original-thinkers, and the innovaters. But be warned that they do not think like you.
</p>
<p>
Me? I consider myself one foot outside. I function well enough in society most of the time, but I definitely percieve myself as independant from it and the longer I spend soleley confined to societies norms, the more depressed I become. 
</p>

<p>
So why do I write about these people? Well, Covid I suppose. Imagine that society says "you need to get vaccinated". If you are well integrated into the local groups you go "yeah sure" - because you trust the government to be working in your best interests. But if you are one of these people on the edge? Whatever it is that originally set you slightly outside is likely to have resulted in a loss of trust in society as a whole. So when someone says "Everyone needs to be vaccinated" they instead hear "everyone needs to conform to society". And they know that last time they tried to conform something happened that kicked them back. As such, I suspect this group of slightly-outsiders has a much lower vaccination rate than most of Society. 
</p>
<p>
Myself I've had both vaccine shots, but I have listened and engaged to those who have not, and the reasons I hear are complex and varied. This is unsurprising, as "normal people" have done the vaccines, leaving only the interesting people without.
</p>
<p>
Here in New Zealand they recently introduced a new "Vaccine Pass" system - which divides the country into those who have received two vaccines and those who have not. It influences the number of people at events and many other things. Now, many of these one-step-outsiders have not had any vaccine shots, and they need to be spaced a couple months apart, so by introducing this vaccine pass system, the government has isolated these already isolated people for at least 3-4 months - possibly until the vaccine passport system ends. 
</p>
<p>
So what happens to a society when the people on the edge are cast out? I don't know. I guess we'll see.
</p>

