<h1>Pendant</h1>

<p>
Recenty it was my mothers birthday, and I decided to go for some
hand-made jewellery. I quite enjoy the change of pace from engineering.
Instead of building something functional for low cost and low effort,
instead, you build something because it's beautiful, simply because you
can.
</p>

<div class="gallery">
<img src="pendant1.jpg">
<img src="pendant2.jpg">
</div>

<h2>Development</h2>
<p>
First off I grabbed my tablet (which has a presure sensitive stylus) 
and started with a design I had sketched 5 years ago (while at school), 
to try some variations:
</p>
<div class="gallery">
<img src="pendantconcept.jpg">
</div>

<p>
I still think design design second from the right has the best shape, 
but I think it would be too long to wear as a pendant, so I shortened 
it slightly.
</br>
Originally I planned to make it entirely from aluminium, but then
realized that a better combination woudl be a silver disk with a wooden
border. As a result, I had to figure out how to put the silver disk
into the wood. Here are the final photos. Have another look at the
photos. Can you figure out how I did it?
</br>
First I made the border (using a template I cut from paper). I carefully
shaped the wood border, but did not finish/polish it yet. Then I (gasp) snapped it
in half. WHen wood fractures, the edges it leaves are not smooth, but
are keyed exactly to each other. So after slotting the inside edges
and inserting the disk, I glued it carefully back together.
</br>
I didn't want the wood to be perfectly smooth, but I did want that 
shuiny polished look. So instead of sanding it down with progressively
finer layers of sandpaper, I took it only to 120 grit. I then polished
it with a buffing wheel impregnated with wax. 
</p>

<h2>Materials</h2>
<ul>
<li>The disk is made of silver, and can be rotated inside the pendant.</li>
<li>The wood is mahogany</li>
<li>The cord is kangaroo leather</li>
</ul>

<h2>Tools Used</h2>
<ul>
<li>Dremel with sanding disk, cut off disk and buffing wheel</li>
<li>Needle Files and sandpaper</li>
<li>Drill (for making the disk)</li>
</ul>
