<h1>Working Towards Reenactment Hiking</h1>
<p>
A couple days ago myself and a friend went for an overnight hike. We took no tent, no sleeping bag, and no backpack. Heavily inspired by the Middle Earth Re-enactment Society, we wore our cloaks and carried our kit in a bed-roll (and I carried my gear also in a snapsack). 
</p>
<img src="img1.jpg"/>
<img src="img2.jpg"/>
<p>
The hike was in the Kahurangi National Park, and we started off along the miners trail leading from the Flora Carpark to the Tablelands. There we turned off the trail and went through teh bush and over the tussock to where Cundy Creek meets Baloon Creek. We walked downstream a bit futher and found a nice flat grassy place to spend the hight.
</p>
<p>
Being the middle of summer, the sun was up until 8:30pm, so we entertained ourselves by doing leatherwork until it started getting dark. (There was a fire ban, so we couldn't have a campfire) and then unrolled our bedrolls and went to sleep. In the night the low cloud initially kept the temeratures warm, but it cleared and by midnight it was fairly cool (I estimate 9-10 centigrade). I was warm enough, but my mate spent some of the night awake due to the cold (I had more warm gear, and also I live in a slightly colder location so am slightly better acclimatized). Beautiful stars though. I love that about sleeping out under the stars - the view is often slightly magical </p>
<p>
The next morning we bush bashed our way back onto the track via a different route, and hiked our way out.</p>

<p>
All in all it opened my eyes to how simple hiking can be. Other than boots (and PLB/phone/emergency kit), most of the gear is well within our ability to make at home - even the knives we carried were already hand made (some by me, some by another friend who wasn't present on the trip). We wore normal clothing, so weren't very authentic in that regard, but thats more time consuming than hard.
</p>
<p>
I hope to do another similar tramp this summer and see if I can't figure out how to make it cozy enough to be feasible into autumn. 
</p>
