<h1>Exercise is not adventure</h1>
<p>
A couple weeks ago I was with a group of young adults, and we were talking
about how we could get more engagement with a group of teenage kids. One idea
I put forward was "Well, we should have some adventures with them" to which
the response was "Yeah, we could organize some sports and stuff" and from
there the conversation changed to, well, exercise: running, biking etc.
</p>
<p>
At the time I felt this wasn't quite right, but I couldn't think of why.
After some more pondering, I've come to realize it's because... 
<i>Exercise is not adventure.</i> Often an adventure will contain some
physical activity, but that is sometimes tangental. So of course the
question is: what exactly is adventure?
</p>
<p>
Adventure has some element of newness in it. Riding a mountain bike down
a trail may be an adventure - for the first couple times. But if you've 
ridden that trail a couple dozen times, it's no longer an adventure. 
Back when I was a kid I went to the local scouts - once. After an 
evening of playing indoor cricket, I decided I didn't want to continue. 
Why? Because sports is also not an adventure. Sure, it involves 
elements of challenge, but in my mind I was there to learn and do new 
things. Sport may still be a challenge, but it's no longer an 
adventure. So if you want to organize an adventure, you have to find 
something people haven't done much before - a place they haven't been, 
a skill they haven't learned.
</p>
<p>
Adventure should also contain some sort of challenge. This is similar to
"newness" except that some things that are new are not challenging. Just
because you've never cooked a roast chicken before does not mean it's
automatically an adventure. If you've never roasted anything before it
may well be, but if you've got a cooking repertoire of roast lamb, roast
pig and roast everything else, it may be too similar to other activities
such that all challenge is taken away. And with the lack of challenge
is a lack of adventure.
</p>
<p>
Does adventure contain physical activity? Often it does. Physical activity
provides opportunity for pushing yourself in skills and in stamina. It 
allows you to strive and overcome, and the tiredness that you feel at the
end is a reflection of how good the adventure was. But not all adventures
are physically exhausting. Before we talked about roasting as something 
that could be an adventure, but I think many hand-skills can be an 
adventure. For a person who hasn't been in a workshop before, making a 
knife or building a box can be a huge adventure.
</p>
<p>
So what is an adventure? I think it's a reflection on overcoming a new 
challenge.
</p>
