<h1>Gallery #1</h1>
<p>
This is a collection of many things I have done, drawn, programmed and rendered
since I started taking photos and making screenshots.
Hover your mouse over an image to find out more, or click on it to get it
at a higher resolution.
</p>

 
<h2>Photos and manipulations</h2>
<p>
Most of these have at least some image manipulation, and some are made
of many images stuck together.
</p>

<p>
<a href="Images/Misty.jpg"><img src="Images/Misty.jpg" title="A foggy view from the university library one morning"></img></a>
<a href="Images/StarLapse.jpg"><img src="Images/StarLapse.jpg" title="Made from 100 images taken at night near an airport"></img></a>
</p>
<p>
<a href="Images/Boat.jpg"><img src="Images/Boat.jpg" title="A boat in Akaroa harbour"></img></a>
<a href="Images/RedSky.jpg"><img src="Images/RedSky.jpg" title="What storm is this?"></img></a>
</p>
<p>
<a href="Images/Akaroa.jpg"><img src="Images/Akaroa.jpg" title="A sunset in Akaroa harbour"></img></a>
<a href="Images/Matte.jpg"><img src="Images/Matte.jpg" title="Made from a composite of 3 images"></img></a>
</p>
<p>
<a href="Images/Saved.jpg"><img src="Images/Saved.jpg" title="Scarlet String"></img></a>
<a href="Images/CabbageTree.jpg"><img src="Images/CabbageTree.jpg" title="A very red sunset. This isn't color manipulated!"></img></a>
</p>


 
<h2>Projects</h2>
<p>
One off photos of old projects. Many of these things have been given away or
lost, or simply aren't worthy of a full page describing them.
</p>
<p>
<a href="Images/Axe.jpg"><img src="Images/Axe.jpg" title="An axe from a nail hammered very flat"></img></a>
<a href="Images/PaperBlender.jpg"><img src="Images/PaperBlender.jpg" title="Exported a paper template from Blender"></img></a>
</p>
<p>
<a href="Images/CubeLight.jpg"><img src="Images/CubeLight.jpg" title="LED Cube - it's wifi enabled!"></img></a>
<a href="Images/Bike.jpg"><img src="Images/Bike.jpg" title="LED Strip on my bike"></img></a>
</p>
<p>
<a href="Images/Crystal.jpg"><img src="Images/Crystal.jpg" title="Some glass shards"></img></a>
<a href="Images/OilLamp.jpg"><img src="Images/OilLamp.jpg" title="An Oil Lamp"></img></a>
</p>
<p>
<a href="Images/RimuKnife.jpg"><img src="Images/RimuKnife.jpg" title="A Rimu handled knife I made for a friends 21st birthday"></img></a>
</p>
<p>
<a href="Images/EarRings.jpg"><img src="Images/EarRings.jpg" title="Twisted wire earrings"></img></a>
<a href="Images/CoinPlane.jpg"><img src="Images/CoinPlane.jpg" title="Small aircraft made from a coin"></img></a>
</p>
<p>
<a href="Images/BlackKnife.jpg"><img src="Images/BlackKnife.jpg" title="A knife made from #8 wire"></img></a>
</p>
<p>
<a href="Images/UrbanKnife.jpg"><img src="Images/UrbanKnife.jpg" title="A very small knife made from a craft knife blade"></img></a>
<a href="Images/Paua.jpg"><img src="Images/Paua.jpg" title="A paua necklace"></img></a>
</p>
<p>
<a href="Images/Bone.jpg"><img src="Images/Bone.jpg" title="A bone necklace"></img></a>
<a href="Images/BlueSlots.jpg"><img src="Images/BlueSlots.jpg" title="A cute shape made from aluminium"></img></a>
<a href="Images/Fang.jpg"><img src="Images/Fang.jpg" title="An aluminium fang"></img></a>
</p>
<p>
<a href="Images/FPVBot.jpg"><img src="Images/FPVBot.jpg" title="A meccano RC FPV rover"></img></a>
<a href="Images/MockingJay.jpg"><img src="Images/MockingJay.jpg" title="A mockingjay pin (Hunger Games)"></img></a>
</p>
<p>
<a href="Images/BirdRing.jpg"><img src="Images/BirdRing.jpg" title="Made several months before hunger games came out"></img></a>
<a href="Images/Danger.jpg"><img src="Images/Danger.jpg" title="Random shape I doodled made in Aluminium"></img></a>
<a href="Images/Keyring.jpg"><img src="Images/Keyring.jpg" title="Random shape I doodled made in Aluminium"></img></a>
</p>
<p>
<a href="Images/Swords.jpg"><img src="Images/Swords.jpg" title="Swords from nails"></img></a>
<a href="Images/Dagger.jpg"><img src="Images/Dagger.jpg" title="Dagger from big nail"></img></a>
<a href="Images/SwordNail.jpg"><img src="Images/SwordNail.jpg" title="Sword from nails"></img></a>
<p>
<p>
</p>
</p>
</p>
<p>
 
<h2>Drawings</h2>
 <a href="Images/HoverVehicle.jpg"><img src="Images/HoverVehicle.jpg" title="An hour or so of doodling"></img></a>
<a href="Images/Micropolis.jpg"><img src="Images/Micropolis.jpg" title="Inspired by Mortal Engines"></img></a>
</p>
<p>
<a href="Images/Nebulae.jpg"><img src="Images/Nebulae.jpg" title="An hour or so of doodling"></img></a>
</p>
<p>
<a href="Images/PocketKnife.jpg"><img src="Images/PocketKnife.jpg" title="Sketch of a pocket knife"></img></a>
<a href="Images/Key.jpg"><img src="Images/Key.jpg" title="A Key"></img></a>
</p>
<p>
<a href="Images/Wreck.jpg"><img src="Images/Wreck.jpg" title="Wreckage in space over an hour or so"></img></a>
<a href="Images/Feather.jpg"><img src="Images/Feather.jpg" title="A Feather - one of my first digital drawings"></img></a>
</p>
<p>
<a href="Images/Thunder.jpg"><img src="Images/Thunder.jpg" title="Half an hour or so of doodling"></img></a>
</p>
<p>
<a href="Images/KnifeDrawing.jpg"><img src="Images/KnifeDrawing.jpg" title="A drawing of a knife I made (see above)"></img></a>
<a href="Images/DragonKey.jpg"><img src="Images/DragonKey.jpg" title="A pen sketch of a dragon and key"></img></a>
</p>
<p>
<a href="Images/Drillium.jpg"><img src="Images/Drillium.jpg" title="Drawing Holes"></img></a>
<a href="Images/MoreHoles.jpg"><img src="Images/MoreHoles.jpg" title="Drawing More Holes"></img></a>
</p>
<p>
<p>
<a href="Images/WildRose.jpg"><img src="Images/WildRose.jpg" title="A pen-and-ink rose"></img></a>
</p>
</p>
<p>
<p>
 
<h2>Game Screenshots</h2>
 Small games or game demo's that never progressed very far. Mostly in Blender
Game Engine
</p>
</p>
<p>
<a href="Images/HourVehicle2.jpg"><img src="Images/HourVehicle2.jpg" title="Vehicle made in an hour"></img></a>
<a href="Images/HourVehicle.jpg"><img src="Images/HourVehicle.jpg" title="Vehicle made in an hour"></img></a>
</p>
<p>
<a href="Images/Chase.jpg"><img src="Images/Chase.jpg" title="Chase the black square out of your cave"></img></a>
<a href="Images/Grey.jpg"><img src="Images/Grey.jpg" title="Small Environment"></img></a>
</p>
<p>
<a href="Images/DesertRace.jpg"><img src="Images/DesertRace.jpg" title="Desert Race"></img></a>
<a href="Images/Atmosphere.jpg"><img src="Images/Atmosphere.jpg" title="A tunnel"></img></a>
</p>
<p>
<a href="Images/WaterRace.jpg"><img src="Images/WaterRace.jpg" title="Water Race"></img></a>
</p>
<p>
<a href="Images/SandCave.jpg"><img src="Images/SandCave.jpg" title="A Sandy Tunnel"></img></a>
<a href="Images/Defender.jpg"><img src="Images/Defender.jpg" title="I worked on this game for four years"></img></a>
</p>
<p>
<a href="Images/SixShipOld.jpg"><img src="Images/SixShipOld.jpg" title="Spaceship for Simple Six"></img></a>
<a href="Images/SixShipOld2.jpg"><img src="Images/SixShipOld2.jpg" title="Spaceship for Simple Six"></img></a>
</p>
<p>
<a href="Images/HoverCar.jpg"><img src="Images/HoverCar.jpg" title="A F1 hover car"></img></a>
</p>
<p>
<a href="Images/FindExit.jpg"><img src="Images/FindExit.jpg" title="A procedural find the exit game"></img></a>
<a href="Images/FogCave.jpg"><img src="Images/FogCave.jpg" title="A foggy wet cave"></img></a>
</p>
<p>
<p>
<a href="Images/FogCave2.jpg"><img src="Images/FogCave2.jpg" title="A foggy wet cave"></img></a>
</p>
</p>
<p>
<p>
 
<h2>Renderings</h2>
 Mostly made in Blender
</p>
</p>
<p>
<a href="Images/FountainPen.jpg"><img src="Images/FountainPen.jpg" title="A Fountain Pen"></img></a>
<a href="Images/SciFiLamp.jpg"><img src="Images/SciFiLamp.jpg" title="A sci-fi brushed metal lamp"></img></a>
<a href="Images/Diagram.jpg"><img src="Images/Diagram.jpg" title="A diagram for a physics report"></img></a>
<a href="Images/KnifeRendering.jpg"><img src="Images/KnifeRendering.jpg" title="A knife I designed"></img></a>
<a href="Images/MicroEngine.jpg"><img src="Images/MicroEngine.jpg" title="Concept for a small steam engine"></img></a>
<a href="Images/SetBackground.jpg"><img src="Images/SetBackground.jpg" title="A quickie rendering to make a desktop background"></img></a>
<a href="Images/UrbanKnifeRender.jpg"><img src="Images/UrbanKnifeRender.jpg" title="A rendering of a knife I made"></img></a>
<a href="Images/Kings.jpg"><img src="Images/Kings.jpg" title="A poster about chess"></img></a>
<a href="Images/SurlyBonds.jpg"><img src="Images/SurlyBonds.jpg" title="Model of the Bristol Scout D"></img></a>
<a href="Images/PyroMoon.jpg"><img src="Images/PyroMoon.jpg" title="PyroGX from Descent"></img></a>
<a href="Images/Desert.jpg"><img src="Images/Desert.jpg" title="SciFi Building in the desert"></img></a>
<a href="Images/SpaceStation.jpg"><img src="Images/SpaceStation.jpg" title="DS9-ish space station"></img></a>
</p>

