<h1>Neon Ball</h1>
<p>
Neon ball is a game made by sdfgeoff over a weekend. The concept came 
on a Friday evening, and the mechanics was done by the end of the 
weekend. I then spent a week trying to make levels before giving up and 
declaring it done.  
</p>
<p>
On modern blender versions it tends to segfault on level changes. It 
was originally built on blender 2.69, where it doesn't segfault. I plan 
to make runtime of it soon, but for now it is only available in blend 
form.
</p>

<div class="gallery">
<img src="neonball.jpg">
</div>

<h2>Downloads</h2>
The blend files (for blender 2.69) can be downloaded in a <a href="NeonBallBlends.zip">zip file</a>.

I also plan to make a linux and windows executable at some point for 
those who don't have blender installed.

<h2>Levels</h2>
Makeing levels is easy, simply put a blend into the levels folder and 
the player will spawn at the origin. You can link in models from the 
assets folder to make levels really fast.

<h2>Additional Notes</h2>
<ul>
<li>The camera movement/collision code is slightly buggy. If the camera 
gets too close the ball you get a trippy zooming thing. To get it back 
to normal, simply look from a higher angle.</li>
<li>This structure for a game is quite good. It has become the standard 
for how I make games.</li>
</ul>
