<h1>Simple Six</h1>

<p>
My favourite computer game is Descent, made in 1995. It's still
played competitively and I have a lot of fun. I want to share this fun,
so I've started working on a Descent-like game, but one that's designed
to run in a web-browser.
</p>
<p>
It turned out that making a web based game was hard. I worked on this
for a long time and learned a lot about websockets and programming in
javascript, but eventually it was abandoned.
<a href="game/index.html">You can still play it though!</a>
</p>

<div class="gallery">
    <img src="sixship.jpg">
</div>
