<h1> Snow in Switzerland</h1>
<p>
Well, it's my first winter in Switzerland, so of course I had to go for a walk
at midnight just to see what it was about.
</p>
<p>
<a href="Images/snow2.jpg"><img src="Images/snow2.jpg" title="Past the hospital"></img></a>
<a href="Images/snow1.jpg"><img src="Images/snow1.jpg" title="Up the icy road"></img></a>
<a href="Images/snow3.jpg"><img src="Images/snow3.jpg" title="Up near the forest"></img></a>
<a href="Images/snow4.jpg"><img src="Images/snow4.jpg" title="To the tree at thetop"></img></a>
<a href="Images/snow6.jpg"><img src="Images/snow6.jpg" title="Did I say it was midnight?"></img></a>
<a href="Images/snow5.jpg"><img src="Images/snow5.jpg" title="The signpost looking lonely"></img></a>
<a href="Images/snow7.jpg"><img src="Images/snow7.jpg" title="I got some sort of wild look while walking"></img></a>
</p>
<p>
<p>
The next morning, the snow was quite thick on the ground.
</p>
</p>
<p>
<a href="Images/snow8.jpg"><img src="Images/snow8.jpg" title="The rooves"></img></a>
<a href="Images/snow9.jpg"><img src="Images/snow9.jpg" title="Looking up to the forest above town"></img></a>
<a href="Images/snow10.jpg"><img src="Images/snow10.jpg" title="And across to the radio tower on the other side"></img></a>
<a href="Images/snow11.jpg"><img src="Images/snow11.jpg" title="Lovely houses eh?"></img></a>
<a href="Images/snow13.jpg"><img src="Images/snow13.jpg" title="I declare the shelter I built in Autumn a failure"></img></a>
<a href="Images/snow14.jpg"><img src="Images/snow14.jpg" title="But it is a winter wonderland"></img></a>
</p>
<p>
I just love the trees, the alps and the sky. So here's a final shot:
</p>
<p>
<a href="Images/snow12.jpg"><img src="Images/snow12.jpg" title="Just Magic"></img></a>
</p>

