<h1>Boy Scouts - The Lost Troop</h1>
<p>
When I was a boy, I wanted to do boy scouts. I was probably 10 or so at 
the time, so when I went to the local scout group I was a "cub". I went 
to a single evening, was disillusioned, and never went back. When my 
mother asked why I didn't enjoy it I was unable to articulate it, but I 
think I finally have a handle on it.
</p>
<p>
Before I talk about why I was disillusioned, first I should mention my 
mental model of what a scout is. I had grown up on a diet of bookes 
like the Famous Five and the Hardy Boys. In these books the characters 
go around, have an adventure, and succeed due to logic, personal skills 
and planning. Speaking of planning, what is the boy scout motto? "Be 
Prepared". If you read the wikipedia page on Boy Scouts you find:
<blockquote>
... program of informal education with an emphasis on practical outdoor 
activities, including camping, woodcraft, aquatics, hiking, backpacking 
...
</blockquote>
And that sums up my view of the boy scounts, as it was and is. I went 
there to learn the things that school doesn't teach: to learn skills 
that would be useful and practical in the world around me.
</p>

<p>
So when I attended that single night of Cubs, what happened? We were 
divided into teams and played indoor cricket.
</p>
<hr />
<p>
Can you see the distinction? I went expecting to learn skills, and 
instead played a "pointless" game. At the end of the evening when I 
mentioned to my mother that all we had done was play a game, she asked 
"what did you expect?" I have no idea what I said in response.
</p>
<p>
I'm sure some readers out there are going "but indoor cricket isn't so
bad. They were probably teaching leadership skills or teamwork. Scouting
isn't all about outdoor activities." Yeah, maybe. It was only one night.
But there was nothing that occurred that evening that suggested to me that
things may be different on other nights. There was nothing to suggest that
Boy Scouts would ever be "skills focused." 
</p>
<p>
It's worth mentioning that by this point our family was doing pretty 
serious hiking. Spending a few days in the outdoors was not foreign to
me. My sister did Girl Guides for a while (months?) and was similarly
disappointed. I have a memory of her coming home going "we learned
to brush our teeth using a cup of water rather than a sink." In later
discussions I remember my parents pointing out that if someones parents
didn't take them hiking, then they'd never learn that sort of thing.
</p>
<p>
A couple years back I read a book "Shelters Shacks and Shanties" published
by one of the founders of the American Boy Scouts. (<a href="https://www.gutenberg.org/files/28255/28255-h/28255-h.htm">It's available on
Gutenberg</a>). This book describes - to boys, how to shingle a building with
bark, how to build a foundation for a shelter on a marsh and warns about
the challenges of building an underground house. <br/>
This is a book aimed at teenage boys!<br/>
There is a very very long way between playing indoor cricket and building a house
on a swamp.
</p>
<p>
Fast forward a couple years and I did a "trainee ranger" course aimed 
at turning people into forest rangers. The very first day we went out 
and ... planted trees. Maybe it was aimed at adults, but at no point 
did we play games solely for "team building" or "leadership." 
Team-building and leadership training came in the form of being handed 
a radio and told to run a trapline.
</p>
<p>
So what would I have made me come back to boy scouts? What could they 
have done that evening? Pretty much anything that involved learning and 
my hands. Look at the list of boy scouts badges. 99% of them involve
practical skills (and those that don't are all created > 50 years after 
the scouts movement was originated). Any of those would have sufficed.
</p>
<hr />
<p>So I never did boy scouts. But
I spent last night sleeping in a shelter
I built, after walking several kilometers off-track through dense bush. I 
knew the names of the birds both in Maori and English, and I knew some 
of the geology of the mountain I was walking over. I chatted to the 
farmer who owns some of the land I passed through, and was courteous to 
others I passed before I turned off-track.
</p>
<p>
Am I a boy scout? Nope. I'm a graduate trainee ranger, and at least in
my mind, that is something better.
</p>
<img src="camp.jpg"/>
