<h1> My Car #2</h1>
<p>
Well, When I moved to Switzerland, I had to get rid of my 1995 escudo. I
ended up passing it on to one of my friends, but initially I planned to sell
it. So of course I had to photoshop some images of it. So here we have the
1995 Suzuki Escudo. (Matte painting warning).
</p>
<p>
<a href="Images/car7.jpg"><img src="Images/car7.jpg" title="For getting to communication towers on remote planets"></img></a>
<a href="Images/car8.jpg"><img src="Images/car8.jpg" title="Or surviving the apocolypse"></img></a>
<a href="Images/car9.jpg"><img src="Images/car9.jpg" title="Looking like something from the 90's, which I suppose it is"></img></a>
<a href="Images/car10.jpg"><img src="Images/car10.jpg" title="Dare a little"></img></a>
<a href="Images/car11.jpg"><img src="Images/car11.jpg" title="From black and white"></img></a>
</p>
<p>
Farewell my steed. You served me well.
</p>

