<h1>Sky Pilot</h1>
<p>
Sky Pilot is a lunar-lander type game, but in 3D. You have to land 
gently on the plaftorm before running out of fuel. Nice and simple.
</br>
This game was originally made for the Blender Game Making Contest 
number 7. It led the voting for the first week, but fell behind when 
someone posted a video review and it didn't work properly on their 
system. Oh well. 
</p>

<div class="gallery">
    <img src="skypilot1.jpg">
</div>

<iframe width="308" height="200" src="https://www.youtube.com/embed/qkFDz9JTE9Y" frameborder="0" allowfullscreen></iframe>

<p>
I made this game in 2013 before I had a laptop supporting
GLSL. As a result, it should run on just about any computer you can
think of - even those without graphics cards.
</p>

<h2>Downloads</h2>
<p>
The blend files (works on most 2.6+ series blenders, tested on 2.76)
can be downloaded in a <a href="SkyPilotBlends.zip">zip file</a>.
</br>
I also plan to make a linux and windows executable at some point for 
those who don't have blender installed.
</p>
