<h1>What is my typing speed?</h1>
<p>I just did some typing speed tests just to see. The results are:
Typing unordered random words: 71 WPM with 90% accuracy
Typing proper English Sentences: 83 WPM with 97% accuracy. 
</p>
<p>
I can only manage that for a short time before my fingers get "finger tied". After maybe 3-4 sentences I start missing keys or double hitting as my fingers get misaligned.
However, for that short time I can type about as fast as I can speak! Definitely faster than I can handwrite. It's only slightly slower than the speed that I can think at.
</p>
<p>
I wonder how useful being able to type that fast actually is? I definitely don't type at this speed for much of my life (though it is useful when hammering out reports and assignments). While programming I may type individual words really fast, but there's enough copy/paste/navigation that the amount of time with all fingers on the keyboard is definitely not that high. I guess that is why some people really live vim and pure-key driven editors.
</p>
