<h1>Sgian Dubh (and another small knife)</h1>
<p>
What on earth is a sgian dubh? It's a knife that the scottish used
to wear in their socks. It was used for small food preparation tasks
and general use. Well, I was living in a van for a couple months and
was looking for something to do on the weekend, so I made this knife.
</p>
<div class="gallery">
<img src="knife1.jpg"></a>
<img src="knife2.jpg"></a>
</div>
<p>
You may notice that there is some scalloping on the back of the blade. 
According to wikipedia this is "common on all scottish knives". I was 
intrigued by this and tried to do some more research about <i>why</i> 
the scottish did this. Unfortunately while you can find the phrase 
"scalloped filework" in conjunction with "common on scottish knives" 
all over the show, no-one hypothesizes a reason for it. I half wonder 
if some text book a couple decades back had that phrase and it's just 
been parroted since then....
</p>
<p>
So this knife was made in a campsite (possibly to the concern of other
campsite stayers). The source material was a sawzall blade that had 
been gathering rust in my toolbox, and I worked it with a dremel and a 
file. The handle is made from oak and finished with teak oil. Fun fact: 
the dremel was hooked up to my van's solar system, so perhaps that 
makes this knife eco-friendly? Probably not as I still had to heat 
treat it.
</p>
<p>
I made a leather sheath for it. It's not my finest leatherwork, but it
stops it from stabbing things when it's in my backpack.
</p>
<p>
Anyway, I've been using this knife pretty much daily for preparing my
dinner. It's the right size for chopping most vegetables and the handgrip
is surprisingly practical. It's a carbon steel, so I have to dry it after use.
</p>
<h2>Another small knife</h2>
<p>
About the same time, the knife in the campground kitchen broke while I
was using it. The handle snapped clean off! So I took the remaining blade
and reshaped it to this knife. The scales are from mahogany and it was
finished with cyanoacrylate (superglue).
<div class="gallery">
<img src="knife3.jpg"></a>
<img src="knife4.jpg"></a>
</div>
Unlike the sgian dubh, this knife was pretty bad. The steel from the 
old knife was really soft (I didn't even de-temper it and I could cut 
it with the file), and the design was rather impractical. </br> I left 
this knife in the campsite kitchen to replace the broken one, and a 
week later it had gone missing. I almost pity the person who took it - 
that handle is a really square-shape that is almost painful to use.
</p>
