<h1>The Curse of Faux-Instant-Messaging</h1>
<p>
Every so often someone invites me to a discord server or a facebook group. It seems that because I enjoy helping others on forums or StackOverflow, people assume I'll enjoy chatting with others on discord about their problems. But it isn't that simple.
</p>
<p>
To be honest, I don’t find Discord a great platform for, well, much. It suffers the same problem as facebook groups in that information is not searchable and organised purely by time. This means that in a community with a large skill range:
<ul>
<li>Experienced users repeat solutions to simple problem lots</li>
<li>Experienced users never see the questions from other experienced users because they’re buried by simple problems and people showing off random things they’ve made.</li>
</ul>
As a result it is no fun for me! I enjoy trying to answer questions to which I don’t quite know the answer. These sorts of problems often take around an hour or so to find a solution for and write it up. If it didn’t take that long, it probably wasn’t an interesting problem.
</p>
<p>
Similarly for when I ask a question. I’ll generally only ask a question if I’ve been stuck for an hour or more on the issue, and the chance of someone being able to propose a solution in a text/voice-chat within seconds is virtually nill. It is nearly always faster for me to do a couple pages of math or dig through the source code for a game engine than it is for me to explain the problem to someone else or create a reproduction case. Worthwhile on a forum: maybe, but definitely not worth the effort on an faux-instant-messaging-service where it disappears forever within a week.
</p>
<p>
So, in my experience, I’ve seldom managed to get help with a problem, nor get interesting other peoples problems from a discord channel or facebook group, so it just ends up with me wasting my time. If I bother to get post what I’m working on (showcase style), it tends that people ask “how did you accomplish X” and I end up repeating myself lots. Better just to make a forum or blog post and be done with it.
</p>
<p>
I suspect this is the reason why you don’t find high-profile artists and developers like Andrew Price, Erwin Coumans, Drew DeVault, etc. etc. “just hanging out” in a discord server! They may be at organized events (eg meetups) once a month or so, but just “browsing discord” is a waste of time for them.
</p>
<p>
That all said, Discord is great for organising things and short-form-discussions, so I do see it as having some value. For this reason, the discord servers and facebook groups I do look at are ones focussed around time-based events such as jams, weekend-challenges etc.
</p>
