<h1>Then vs Now - The Result</h1>
<p>
In my post "Then vs Now" I mused over how I didn't used to care how 
things turned out, and as a result I just, well, did things. And at the 
end I said I'd head out to the workshop and build something. Well I 
did, but my opinion has changed.
</p>

<p>
I made some small pendant findings. They're from Kwila with some 
crushed stone inlay. Each one took a couple hours, and I'm pretty happy 
with how they turned out. One had inlay the whole way though, the other
the inlay is only on one side.
</p>
<img src="pendant1.jpg">
<img src="pendant2.jpg">
<p>
But at the end I was unsatisfied - not with the result though there are 
definitely things I could have done better, but I was unsatisfied 
because I put them into a drawer with other jewellery findings I've 
made of the years. There are things in there that reach back probably 
around a decade.
</p>
<p>
So I think that these days, as well as caring more about how things 
turn out, I also care about what happens next. I want the things I made 
to be useful and to be used by people. I'm sure someone will say "you 
could sell them", and yeah, maybe. But currently the things I make are 
for friends and as gifts and I have very little interest (at the 
moment) in turning jewellery manufacture into a business.
</p>
<p>
But that was another point brought up in the previous post - that not 
everything has to be for commercial reason. Some things are just worth 
doing. And I guess I don't 100% agree with that any more. Things have 
to have a point to be worth doing. Even if that point is to entertain 
you for an evening, or to make people laugh. It comes down to meaning - 
lifes oldest mystery.
</p>
