<h1> The Perception of Time</h1>
<p>
Time seems to bend and shift. When you're doing something you enjoy,
time passes at a frantic rate. But when you are doing something you
don't enjoy, it seems to take forever.
</p>
<p>
But there is another side to time. Even with perceptual shifts due to
stress etc. we still only see a fraction of what is visible.
</p>
<p>
What if we saw everything thousands of times faster. If we could see
the wings of a fly beat, or perhaps more usefully, see and process
things faster giving us better reaction times in emergencies.
</p>
<p>
But to me, the really interesting thing is what happens over long
periods of time. The use of timelapses allow us to watch whole days in
a few minutes, and some even the growth of a plant over a few months.
Even with a cheap android cellphone you can create fairly good
timelapses. I made a small one yesterday in a couple hours:
</p>
<p>
<iframe width="420" height="315" src="https://www.youtube.com/embed/oE5YCwdWcpo" frameborder="0" allowfullscreen></iframe>
</p>
<p>
But what if we take things into the mega scale? Could we set up a
camera and watch the spread of a city over a hundred years? Could we do
the same with forests? How about watching a mountain grow over
thousands of years. We now have the technology to do so, but people
dislike doing things that extend beyond their life-span.
</p>

