<h1>The root of creativity</h1>
<p>
I was recently doing some spitpaints, and came to realize that the essense of all art, and even the engineering that I do stems from one core thing: imaginging something that doesn't exist.
</p>
<p>
When starting at a blank canvas getting ready to draw, you have to hold an image in your mind of what you are creating. Maybe you don't hold the entire image yet, or maybe it will change as you draw but you need to hold at least enough so that yo ucan do more than put unconnected lines on a page.</br>
Indeed, I suspect that the clarity of this mental image is what distinguishes a good atist from an OK one, and that most of learning to draw is learning how to see.
</p>
<p>
The same applies in engineering. When designing an object for 3D printing you have to hold it's form and function in your head. When writing code, you have to have some model of the overal purpose and structure, and when forging a knife, you have to "see" what you want it to become.
</p>
<p>
So how do you aquire this image in your head of something that doesn't exist? Sometimes it's references - looking at images online or reading through code samples. Other times it's through generative conversations (which can be internal) where ideas are thrown around and combined in unique ways. But there is one fundamental question:
</p>
<p>
<b>How do you think of something that has never been thought of before?</b>
</p>
