<h1>Uplifting a society of magpies</h1>
<p>
There was an interesting post on stackexchange about how advanced could a society of magpies get. I wrote a rather too long answer on the generic "how to uplift a society".
</p>
<p>
In sci fi, it is a staple that introducing technology to a primitive society would cause havoc. I reckon mostly they would just ignore it or the tech wouldn't be applicable.
</p>
<p>
Consider taking a car back to a caveman. There are no roads to drive it on, no oil refinaries, mechanics, or spark-plug-manufacturing-facilities. Imagine if an alien race turned up with an FTL drive and gave it to us. We wouldn't have the exotic-matter-extractors, we wouldn't have the materials tech to build a spacecraft around it, and we probably wouldn't be able to use it. It would sit in a warehouse while our scientists and engineers spent several hundred years playing catch-up.
</p>
<p>
There are many cases of animals using tools, or being taught speech. Arguably animals are intelligent, but while an individual may be able to change to accept a new technology, their 'society' is not able to sustain it.
</p>
<p>
But societies change, and with human intervention, maybe we could drive the magpies culture faster than natural.
</p>
<p>
Lets consider a magpie: it has the ability to listen and make sounds, so information can be passed between generations. I assume it has good eyesight - like most birds. They are also quite dexterous with their feet and beaks.
</p>
<p>
They are limited in cranial size - but given that even spjders can display learned behaviours that is likely to have less impact than you'd expect. (Theres probably another answer on this site dealing with cranial size and intelligence.) Having no hands they are limited to balancing on one foot when manipulating things with their feet (I'm sure a race of alien quadrupeds would say the same thing when first encountering intelligent bipeds). They are perhaps limited in terms of sensitivity of their feet/talons/beak.They cannot bring both eyes to focus on a task at the same time.
</p>
<p>
Nothing in there prevents an advanced society, though it does come with challenges.
</p>
<p>
Uplifting a society is slow, really slow.
</p>
<p>
Before we can teach them how to use computers we have to teach them how to learn and how to pass information between generations. This is the most fundamental skill. Arguable many birds already do this - many species have local 'dialects' of song that are learned from their ancestors. We have to increase the information density of this singing. Not much, but enough that it can contain history and fiction. How do you do this! No idea. Hundreds of thousands of years ago, some human knew how to teach this to other humans, but the technique is so far in pre-history even it's very concept is borderline theoretical. There may be other things that come before this step, but I cannot see them from where todays culture stands.
</p>
<p>
Now that our magpies can pass information between each other we have to teach them how to learn. It would be nice to be able to dodge several thousand years and start them off on the scientific method, but I don't think it would stick. The ideas of reproducability rely on the ability to accurately describe things - something that our magpie society doesn't really have yet. So we start by teaching them about superstitions and magic. (Think this is weird? I'm sure an advanced society thinks our scientific method is based on heresy and rumors). The most important thing is that you get them looking at the world around them and learning about it. Even if the mental framework is only gods, spirits and demons, it's still better than nothing. How do you teach them this? No idea! This probably isn't a case of teaching them all to worship the great bird-god, but instead must embody cultural ideas: when is it right to go to war? How can we teach about preventing disease when they have no understanding of bacterial or immune systems? For inspirarion I can suggest looking at he third book of the Christian Bible. Its a set of societal and medical teachings intended for an early society - written as the word of God. It was spoken from man to man for hundreds or thousands of years before being written down.
</p>
<p>
Right, with that teaching, our magpies are in the pre-stone-age now, and probably only ~10,000 years off humans. We can now start teaching them technology. At each stage of technology, their language will have to evolve (anyone from 100 years ago know that a mutable memory access from multiple processes can cause a deadlock?). Writing will possibly emerge naturally at some point when the information density becomes too high for spoken traditions. What sort of technologies do you teach? The ones that are useful for the state the magpies are in. Early on this is probably how to use a stick of wood to improve food gathering, or how to lever off the lids of garbage cans more effectively (seriously, this is information the magpies will want to know, and will be sure to tell their kids). Then you can teach them to shape their sticks. Now we have stick wielding magpies we can teach them agriculture. How to plant seeds and ... wait for them to grow. Seriously, this is advanced stuff. It took the best minds of humanity centuries to figure that out! We can probably teach them how to make better nests now as well, and possibly better hygine and basic medicine.
</p>
<p>
Because we're humans doing the teaching, it is tempting to give them modern medicines, or give them agricultural tools. But in doing so we have not advanced their society at all. Stay within the bounds of their understanding.
</p>
<p>
I don't know how you teach a society stoneworking or metallurgy, but I'm sure it can be done easily enough. Maybe you can show them how to make mortar and leave them at it? Even back hundreds of years ago humans were lifting thousands of times their weight using ramps, rope and lots of effort. it'd be even more effort for a 200g bird, but not insurmountable.
</p>
<p>
We're now pre-industrial and its time to teach them ... science. Up to here we've been limited by societal progress, but now we're limited more by the knowledge embodied in the society, and we can pass this on directly. They start asking about gravity, first we can tell them that it's a force pulling things towards the ground, but then we can jump the hundreds of years by also making available the ideas of Newton or Einstein. Our physicists are taught all this stuff in a single lifetime while at school, so we know it can be taught at a very rapid rate.
</p>
<p>
And now we have current-day-human-level-intelligent magpies. Yay!
</p>
<p>
How long does this all take though? Up until 'science' it takes a long time - maybe a hundred or more generations (of birds). After science probably only another 10 or so generations for their society to catch up. This is the nature of exponential growth. Science isn't a magic tipping point, its simply where the knee of the growth curve looks to us humans.
</p>
<p>
TLDR: Yes, I see nothing preventing near-human-level-intelligence magpies. It may just take a couple hundred years to get there.
</p>
