<h1>5cm Robot</h1>
<p>
For a bit of a challenge I decided to make a small robot using 
off-the-shelf parts. The robot was intented to be able to locate and 
move small objects (such as marbles and dice), and to return with the 
objects to the starting position. On top of that it should measure less 
than 5cm cube and be cheap to make.
</br>
And thus began a week of soldering with tweezers, hotgluing, and trying
to squish as much as possible into a small space. A total of about
10 hours went into it's physical construction.
</p>
<h2>Overview</h2>
<p>
The 5cm cube sensor is one of the more sensor packed micro-robots I've
made. It has a 10DOF board providing an accelerometer, gyro and
compass, and it also has a total of six analog distance sensors.
For motors it uses two cut-down 9-gram servos. To fit within the cube
they had to be intersected with each other, which was quite a fun
challenge.
It is powered by a 4-cell Nimh pack that came from a 9V battery

<div class=gallery>
<img src="cuberobot.jpg" />
<img src="cuberobot2.jpg" />
<img src="cuberobot3.jpg" />
</div>

There is a build-log over at <a href="http://www.
instructables.com/id/Micro-Robot-5cm-cube/">instructables</a>
</p>
<h2>State</h2>
<p>
Currently this robot sits on a shelf awaiting inspiration. It can wander
around a maze and not bump into walls, and I've tested the IMU, but I
haven't yet got any mapping going.
The analog rangefinder had an issue with their sensing cone being too
great, so detecting small objects did not work beyond a few centimeters.
</p>
