<h1>Emotional Vampire</h1>
<p>
Today I was walking on a beach - it was drizzeling and there was low fog. The clouds out over the sea made interesting patterns of light, and you could see the waves rolling in. I spent a long time staring at the sea, thinking about one thing after another, and finally it hit me: I was an emotional vampire.
</p>
<p>
A vampire is a creature that consumes someone elses life (blood) in order to experience life. Without blood, the vampire will whither and die. As an emotional vampire I need to consume other peoples emotions in order to experience my own.
</p>
<p>
As my plans have gradually been winding down I've had more and more free time. Generally I've spent it working on various projects of my own - building things in the workshop, working on games, reading articles. Generally these have been solitary pursuits. As a result, my mental state has slowly been declining to the point where I now feel empty - going through the motions but completely passionless. The only high points are ones with other people: dancing at a local dance class, gifting a knife to a friend and so on. Two days without human contact leaves me feeling like a robot.
</p>
<p>
One interesting thing is that consuming other peoples emotions can have some interesting effects - it isn't always necessary. For example at dance class I often fake cheerfulness for the first ten minutes or so. After that time the people dancing with me have cheered up and I can "feed" off their cheer in a spiral of awesome. Occasionally I haven't faked the smiles and have ended up with an evening of dancing with unhappy people. Those initial smiles are worth it.
</p>
<p>
The same can happen in reverse, where I inherit another persons gloom and we spiral down. In retrospect this happened a few times while I was living in Switzerland leading to some of my most depressed weeks so far. We'd be discussing a topic and together come to the conclusion that life was hopeless and the future was bleak. However, a couple months before I left I observed this depression-spiral and, once again, discovered it was manipulable. With a small input of hope, the atmosphere of a conversation can be changed. I have no idea how much of this emotional manipulation is in my own mind, but I like to think some of it is real.
</p>
<p>
In an old sci-fi book there is an alien character (Priscilla) who is an empath. To make the world around them a nicer place to live, Priscilla subtley manipulates the emotions to make everyone else happy. And that's the difference between a blood vampire and an emotional vampire. Blood is zero sum - they suck the life from a person and the person has less life. But with emotion there is no such limitation. You can add joy to a persons life and your own joy does not have to decrease.
</p>
