<h1>Finding your passion</h1>
<p>
Everyone says you need to find your passion. I think having a passion is not universal. I enjoy many things - drawing, programming, building, thinking, making music, hiking, driving. But none of those is my passion. None of those do I want to do  exclusively for the rest of my life.
</p>
<p>
I think very few people are actually passionate about a single subject - it's just that those that are become highly sucessful, so they are the ones giving the speeches about how to be happy with life. For those of us without one guiding interest, is it not better to do something while you are interested in it, and then move onto the next thing after a while?
</p>
<p>
Heck, I'm not even really a Jack of All Trades (though I think that would be cool). I can see the limits to my interests and I can taste the edges of my knowledge. A friend once said to me: "I have a very specific general knowledge" - and I think he is right: most people have a range of topics that they are interested in, and so they learn about them. But they never focus on exclusively one thing, giving them an understanding around that field of interest. So perhaps instead of looking for a singular passion, you can find what types of things it is that draws your attention.
</p>
<p>
If I had to define what it is that drives me, it is the desire to find new ways to accomplish things. I enjoy learning new tools - but have little desire to master them once I have achieved what I set out to do. I enjoy dev-ops because it pretty much is experimenting with ways to build things. I enjoy making computer games because it allows you to experiment with ways to describe the world.
</p>
<p>
So do I have a passion? Maybe, maybe not. Maybe it's just broader than society likes to tell you your passion should be.
</p>
