<h1>Seax-like knife</h1>
<p>I made yet another knife. This one is inspired by the Seax, though it's probably not historically accurate.</p>

<p>This blade is te first I've made that is fully forged in shape: it tapers from heel to tip and from spine to edge. It was originally the stub end of a file (I used the other part in another knife a couple months back). I'm also very happy with the brass/copper bolsters. The metal combination is pretty beautiful (I think). It's my first pass at a hidden tang, and I thought it was going OK until I added in some epoxy before final mounting. The epoxy apparently changed where the blade sat in the handle sufficiently that the pin no longer fit through the hole in the tang. Oh well, I'll have to do a second attempt at this method of construction in the future</p>


<img src="blade1.jpg"/>
<img src="blade2.jpg"/>

<p>
There is another story about this blade. Normally when doing light forging I use a handheld gas torch (pointing into a small fire-brick forge) running on those blue 400g propane cylinders. Since I knew I'd be running the gas for quite a while on this project, I decided to see if I could run it off a 9Kg LPG bottle. I found a connector at the local hardware store and went to buy it. Because I wasn't certain I decided to ask one of the store assistants what they thought. Their response was a firm "no you can't" with strong "it can't be done" and "you can only connect a gas appliance the way it was designed - you may be able to find adapters but it wont work." So they chased me away.
</p>
<p>I was pretty convinced it would work, but wasn't too sure about the pressure regulation side of things, so the next day I chatted to one of my friends about if the regulation on a hand-held torch was on the bottle side or in the torch. He firmly agreed with me that it was in the torch. So I went back to the store, dodged the shop assistant and bought the connector hose (QCC to 1" UCEF). I hooked it up and ... it worked perfectly.
</p>
<p>So now I can run my forge off a much cheaper source of gas</p>
