<h1> Being a Librarian</h1>
<p>
In year 11 (2010) at school I became the 'Student Library Shelver'
which meant I was in charge of shelving the returned today books at the
end of each day, stamped and barcoded new books, helped with textbook
distribution and a few other things.
</p>
<p>
Even after I finished school, I stayed on at the school library until
I decided to focus on my last year of study at university (until 2015).
</p>

 
<h2>What I wrote in 2012</h2>
<p>
Being a Student Librarian at school for the past few years has taught
me a lot. It taught me how messy people who read joke books are, the
dewy decimal system, and also it taught me about learning.
</p>
<p>
At school you get plunged into 6 hour time where you do nothing but
think. During that time your brain gets tired, and eventually stops
absorbing information. Anyone who's had calculus last period can tell
you that our brain just needs a little time to think.
But we head home and (hopefully) do an hour or so of homework. I'm not
sure this is the right thing to to.
</p>
<p>
Shelving at the library after school has shown me how an hour of time
where you do nothing with your brain, and work only with your hands
lets your brain process that information. I've learned and understood
more during this time, just going over what I've done in the day, and
thinking through the concepts we are being taught about.
</p>
<p>
So while some may consider being a librarian during lunch, interval or
after-school a boring, repetitive job that takes you away from your
social life, I consider it part of my study.
</p>

 
<h2>What I wrote in 2013</h2>
<p>
Even though I've now left school, I still go into the school library,
and shelve books. Things have changed, particularly my status. Few
students know me (though all the teachers do), but most significantly,
I am now more staff than kid. Funny how a single holiday can change
that much!
</p>
<p>
When I was a student, I was occasionally kicked out of the library
because the staff were having meetings there. Now I'm not. Instead I
can listen to the teachers talk about managing their classes. You know
what? It makes me admire them. We all know that teachers have to write
reports on students, but did you know they do the same on their class?
Or that they also have to submit things furthur up. They put a lot of
work into the kids under their leadership, and in my opinion they do a
great job. In a recent meeting they discussed how to improve the amount
of work done in a classroom, and tended to center around distraction.
But I think they missed the point there.
<code>
Students will create distraction only if they are not paying attention.
</code>

Distraction doesn't distract kids, it's made by them. The solution is
to make sure that people are interested in the material. Then no matter
what games they have on their cellphone, or what funny poster is on the
wall, they will focus on the teacher and what they have to say. In my
last year, information was coming so slowly through school that I slept
through much of two of my subjects, and managed to pass with ease on
the summary of the previous lesson. That bores people like me. I could
have learned so much more, wasting 40 minutes out of a 50 minute class.
</p>
<p>
Aside from meetings, other things have changed. What I think about has
changed. During school, I would think throuhg the material. After a day
at uni, I've already learned it. Instead I focus on applying it: How
can I use newtons method? Where does analysing a truss by sections come
in useful? Can I apply it in other places? Occasionally I'll have a
good idea then, write it down, and do something. Other times, I plan
out whole assignments in my head, and then go home and write the whole
thing quickly.
</p>
<p>
After being a librarian for four years, I now know the library pretty
well. In most libraies, I can find books on what I want without a
library catalog. Unfortunately, the university library is not a dewy
decimal system. Whatever system they use still baffles me.
</p>
<p>
But on the whole, being a librarian is still part of my study. Just as
before, it is a time to review the day, and reinforce the learning.
</p>
 
<h2>What I think now in 2016</h2>
<p>
I now look around at the people doing university with me. Something like
90% of them work at university all day, and then go home and ... study.
Then they'll watch youtube or netflix. Maybe they browse facebook.
However, a few do other things. One of my good friends coaches
gymnastics for many hours per week. Now that I've stopped working at
the libarary, myself (and a few of my other friends) build things in
our respective free time.
</p>
<p>
When I come home at the end of the day, I do not do any univeristy work
unless it is absolutely required (deadlines), and it has made a huge
difference. While I do not get the best grades as I work less, that time
goes into practical skills. Can anyone focus on a task 24/7?
Of course not, but that is what the people who try to study in the
evenings are trying to do, and as a result, when they relax they
have no motivation for learning in the real world. Because I do not
expend all my energy into study, during my time at university I gained
far more than a book education.
</p>

