<h1>Jimnytrak</h1>
<p>
Jimnytrak is a remote controlled tracked vehicle based on the Suzuki
Jimny 2019 - but modified to have tank tracks. 
This version is controlled over wifi, and it's great fun to crawl it
around your living room.
</p>

<div class="gallery">
<img src="jimnytrak1.jpg" />
<img src="jimnytrak2.jpg" />
<img src="jimnytrak3.jpg" />
</div>

<h2>Mechanics</h2>
<p>
The chassis is 3D printed, and finished using enamel paints. I'm no
expert at doing this, and I discovered that when a metallic-finish-paint
says that you can't overpaint it, then you shouldn't try overpaint it.
</p>
<p>
I printed the chassis at 0.1mm layer height, and the layer lines are
still visible because I wasn't motivated to sand it all smooth. I've
since discovered that you can 3D print at even lower layer heights
and get prints you pretty much don't have to smooth, so if I were to do
it again, I'd definitely take that approach.
</p>
<p>
The tracks are made by molding hardware store silicone. I 3D printed a 
mold that screws onto the end of a normal silicone tube. Then you can 
use a caulking gun to fill the mold very easily. After filling it, the 
silicone will cure at about 2mm/24 hr, so after waiting a full day a 
track can be removed from the mold. <br>
I'm rather pleased with how well this process works. If you give it a 
go and have issues removing the track from the mold, make sure you are 
using acetic cure silicone, and if necessary rinse the mold with soapy 
dishwater before filling.
</p>

<div class="gallery">
<img src="jimny_on_windowsill.jpg" title="With 9v battery for size"/>
<img src="track_mold.jpg" title="A three part mold"/>
<img src="mold_on_caulking_gun.jpg" title="It just screws onto the end"/>
<img src="filled_track_mold.jpg" title="A quick squeeze later and it's full of silicone"/>
</div>

<h2>Electronics</h2>
<p>
The main brain of this vehicle is an ESP8266 microcontroller, and it is
wired into a DRV8833 microcontroller. The motors are N30's geared at 
300RPM. It's powered by a 300mah lipo I salvaged from a cheap 
USB-chargeable bike light.
</p>

<div class="gallery">
<img src="electronics.jpg" title="It's a bit fiddly, I'd suggest using solid core wire if you make this sort of thing"/>
</div>

<h2>Downloads</h2>
<p>
You want to build one? <a href="jimnytrak_stls.zip">Here are all the 
STL's you need.</a>
Alternatively, have a look at the project on 
<a href="https://github.com/sdfgeoff/jimny_trak">github</a> or 
<a href="https://www.thingiverse.com/thing:4546397">thingiverse</a>.
</p>
