<h1>Spotify Bingo Display</h1>
<p>
Some of my friends are hosting a dance party where you have to listen out for words in the songs (bingo style - write down the song name). He wanted a projector to display what song was currently playing. 
</p>
<img src="display.jpg"/>
<p>
And thus began a fun Saturday morning project: to display a bunch of songs on a screen such that they'll be easily readable. So I built a web-app. It authenticates with Spotify and retrieves playlist that you're currently playing. This is used to show previous and upcoming songs as well as how far you are through the entire playlist (the line down the bottom). It all just magically works if you change song or start a new playlist!
</p>
<p>
Turns out spotify's API is pretty cool - the playback state of your device is sync'd to their server, so the computer displaying this screen doesn't have to be the one playing the music.. Also, with a bit more work I could retrieve (eg) the BPM. But whatever, this will do for Monday!
</p>
<p>
Oh yeah, don't try to dance to the playlist in the screenshot. Or go ahead and try, but it may be challenging.....
</p>
