<h1>Drill Bit Knife</h1>
<p>The other day one of my friends was over to do some stuff in the workshop. Unfortunately he broke one of my 6mm drill bits when it caught in the metal he was drilling and pulled the cordless drill out of line (yes, a drill press is on my to-purchase list). It snapped near the tip which left me with a nice piece of 6mm tool steel. This is the result</p>
<img src="drillknife1.jpg">
<img src="drillknife2.jpg">
<img src="drillknife3.jpg">
