<h1>Music vs Art</h1>
<p>
This afternoon I was prepping to play music in our church band, and as I sit there practising some of our standard songs/hymns, I was thinking. Normally when I sit down at my keyboard it is to play the music from my head - I compose as I go along. But when playing in church, the instruction is "play the music on the page," and the box for creativity is reduced. This got me thinking along a variety of topics. 
</p>
<p>
I enjoy composing. I'll sit down at my keyboard and play around with synths and patches. (Saxaphone, organ and cello is quite a cool combo!), and because "he plays music" I was recruited (prefecly willingly) into the church band. Now there is a lead sheet with notes and a melody for me to play.</br>
Because I am no longer playing my own music, I can no longer play to my skillset - so I "play worse". Similarly there is now an official-music-video version on youtube that everyone knows. There is perfection to reach, and unless I sink in many many hours, I can never reach it - for it is someone elses vision that I am told to recreate.</br>
But when I compose, I can play the way I play. Perfection is what sounds good to my ears. 
<p>
Most churches have some sort of music. In some it may be an organist in others it may be a rock band. But both of them have something in common: both of them play songs that everyone knows world-wide. The organist will play from his hymnbook (and probably play a standard cadenza if required), the band will grab the lead sheets of some well-known band (and try mimic the instrumentals of the original band). And the congrgation sings along.</br>
Now, this is well and good, but in exactly zero of the churches I've been to has there been room for more. Who wrote those hymns in the hymn book? Why created the lyrics on those lead-sheets? Clearly someone did. At every church there is a band, and all they do is play covers. What could we do to encourage church bands to grasp ther opportunity they have to create their own type of worship?
</p>
<p>
After some more thinking I realized this isn't specific to churches. It's a cancer of music as well. When you did art at school, did you spend all of your time trying to draw perfectly straight lines and perfectly round circles, followed by copying the early works of Michelangelo? No, you probably got given a bunch of objects to draw a still life of and the teacher gave tips/techniques. Even if the whole class was drawing a face, there was probably significant room for creativity and variety within that: the hair style, the expressions of the lips and a million other things.</br>
But in music at school, you probably got given an instrument and got handed a set of scales and arpeggios. Then you played some simple songs by Mozart (or maybe a simple song by some famous rock band). Maybe there was a small amount of composition on the side, but it definitely wasn't the focus.
</p>
<p>
Yes, most artists use reference images when painting. But unless you specialize in filling in paint-by-numbers or colouring-in-books, every artist also puts their own visions onto canvas. But music is largely made of covers rather than being an expression of the individual artists creativity.
</p>
<p>
So how could you teach music in a way that is creativity first, technique second? If so, would every pop-song still sound the same?
</p>
