<h1>My Car</h1>
<p>
A few weeks back I bought a car. It's a 1993 Suzuki Escudo, and it runs very
well considering it's older than I am! This car is is a four wheel 
drive and thus capable of driving (and having fun) off road. Also, 
rather surprisingly it has only a 1600cc engine. This makes it 
surprisingly fuel efficient!
</p>
<p>
Anyhow, I've had a great lot of fun with this vehicle, particularly on the
Waiakiriri river bed close to where I live.
</p>
<p>
<a href="Images/car1.jpg"><img src="Images/car1.jpg" title="Across a river (at the Waimak)"></img></a>
<a href="Images/car2.jpg"><img src="Images/car2.jpg" title="Let's go up here (at the Waimak)"></img></a>
<a href="Images/car3.jpg"><img src="Images/car3.jpg" title="Climbing a bank (at the Selwyn)"></img></a>
<a href="Images/car4.jpg"><img src="Images/car4.jpg" title="Grass not so flats (at the Selwyn)"></img></a>
<a href="Images/carbanner.jpg"><img src="Images/carbanner.jpg" title="Little Pidgeon Bay"></img></a>
<a href="Images/car5.jpg"><img src="Images/car5.jpg" title="They said there was a road... (at the Rakaia)"></img></a>
<a href="Images/car6.jpg"><img src="Images/car6.jpg" title="Highway or the fun way (at the Rakaia)"></img></a>
</p>

