<h1>The High Country</h1>
<p>
Where is the high country? Head south a little, and cross some braided
rivers. Head inland until the land curves up, and the grass flats start turning
into scree slopes. If there isn't some bog and some spaniards, you're in the
wrong place. But when you're there, you'll know it.
</br>
</br>
Glacial mountains, steep sided valleys, and people trying to look fierce.
</p>
<p>
<a href="Images/highcountry1.jpg"><img src="Images/highcountry1.jpg" title="The rivers"></img></a>
<a href="Images/highcountry2.jpg"><img src="Images/highcountry2.jpg" title="Sunset over the valley"></img></a>
<a href="Images/highcountry3.jpg"><img src="Images/highcountry3.jpg" title="A mirror-like lake"></img></a>
<a href="Images/highcountry4.jpg"><img src="Images/highcountry4.jpg" title="Mountains rising above the grasslands"></img></a>
<a href="Images/highcountry5.jpg"><img src="Images/highcountry5.jpg" title="It be me!"></img></a>
<a href="Images/highcountry7.jpg"><img src="Images/highcountry7.jpg" title="This is land"></img></a>
<a href="Images/highcountry8.jpg"><img src="Images/highcountry8.jpg" title="Dry tarns (this is not me)"></img></a>
<a href="Images/highcountry6.jpg"><img src="Images/highcountry6.jpg" title="A river working it's way through a steep gully"></img></a>
</p>
<p>
Along on the tramp with me were some of my university friends,
and some of their friends. Here we all are:

<a href="Images/highcountry9.jpg"><img src="Images/highcountry9.jpg" title="And here we all are - some uni friends of mine and some of their friends"></img></a>
<p>
Looking at these photos reminds me of how many people there are here in
Switzerland. Nowhere can you go where there is this much empty space. Lovely
open terrain where it would take a fool to get lost. Just move your legs and
walk till the sun goes down. Wake up and do it again.
</p>

