<h1> Teaching, Learning and Motivation</h1>
<p>
Most people in the western world go through some sort of schooling at
some stage, be it at a public school, homeschooling or a few other
methods. I finished school last year, and was trying to think about
what could be improved with how I was taught. Because, let's face it,
school is boring.
</p>
<p>
Or rather, the material is interesting enough, but it is presented
dryly and at a rate where I found myself sitting at a desk for 85% of
the day with nothing to do. Oh yeah, there were exceptions, like maths
class which gave use thirty thousand exercises to do a day and expected
us to learn it, but that was equally boring for other reasons. So what
could be improved?
</p>
<p>
Well, why was I bored? There is are two reasons: Pacing and motivation.
</p>

 
<h2>Pacing:</h2>
<p>
In Chemistry and Physics I did nothing. I spent the lesson with my mind
in neutral, doodling or some other mind-relieving activity. The only
time I payed attention was the first five to ten minutes where the
teacher summarised the previous lesson for those that were away (or
those like me who were there but not listening). English was different,
where I had to actually pay attention, but the material uninteresting
to me. Likewise, I had to do maths so I could show the teacher I had
done the exercises he set. But the fact is that for Physics and
Chemistry, I could have progressed much much faster.
</p>
<p>
I chatted to my parents about this a little recently, and we came up
with a key difference between the way I was taught and the way they
were taught several decades ago. Their classes were streamed, mine were
not. One other item of interest came up, and that is that teachers are
restricted by the slowest in their class. If you haven't put two and
two together yet, it means that everyone in the class worked at the
pace of the slowest. With steaming this creates a 'good' class that
races through things, and a 'bad' class which goes through slower. But
without streaming, all the classes are restricted to a slow pace, with
some overworked kids, and some utterly bored ones.
</p>
<p>
Streaming also provides motivation. People in the 'bad' class want to
work to be in a better one, and people in the good classes have to work
to stay there.
</p>

 
<h2>Motivation:</h2>

<p>
Quite frankly I had none at school. I didn't do homework after year 9, 
I was satisfied with medicore grades (hey, I passed nearly everything 
with slighly above average). The people who were motivated did 
amazingly well, but I could never dredge it up. But you know what would 
have motivated me? For my grades to mean something. The story goes like 
this:
</p>

<code>
Student: Why should I work hard?

Teacher: To get a good grade

Student: What will that mean

Teacher: You get more excellence credits

Student: Meaning...?

Teacher: You can get your courses endorsed with excellence

Student: Meaning...?

Teacher: Um, better change of getting into university

Student: First year uni is pretty much open. If you pass everything, it's nearly
         gaurenteed

Teacher: It will increase your chance of getting a job.

Student: Really, so my employer will look at my school results and say 'I'm not
        going to employ him because he failed three papres at school, even
        though he got through uni fine'

Teacher: You should do well so you can be satisfied with how you went.

Student: How can I be satisfied with how I went when the end result is meaningless?
</code>

<p>
And on ad infinitum. The fact is that school grades are pretty much
meaningless to everyone. The only difference they make is to
potentially ... put you in a better class. Oh wait, we don't
disciminate between people who do well and those who don't. Tough, your
results actually are meaningless, as long as you pass.
</p>

 
<h2>Summary</h2>
<p>
No, this isn't advocating for people to bring back streaming. It has
it's own problems. But there must be better ways. By we can change
pacing and motivation.
</p>
<p>
We have computers. Let's say I'm trying to learn maths. I do ten
problems. A computer grades these problems and tells me that I got some
of them correct. Then it gives me more problems, balancing the ones I
can do with ones that will extend the topic at hand. The teacher moves
at a steady pace, teaching the base of each section. The computer deals
out exercises. The faster kids move quickly, being extended by harder
and harder problems. The slower kids work at the pace they can. Because
students now have different abilities, they also have to be graded
individually. You know what would be motivating? Being graded on
motivation. You get marks for the ratio of correct to incorrect
questions multiplied by the number of questions attempted. Since the
computer makes sure each kid get's problems related to his ability, the
people who put in effort will get more correct ones, and probably do
more questions in a given time.
</p>
<p>
But really, I don't know. I just think someone should dedicate a few
years to picking a proper way of teaching children. Because, let's face
it, school was not the best.
</p>
<p>
 
<h2>What I think now in 2016</h2>
<p>
Well, most of my thoughts stay the same. I was bored through school, I
was bored through university, and as a result, I didn't pay much
attention and didn't get amazing grades (but still passed everything
with above-average results). But what I did in the out-of-uni time is
what got me a job. The 'soft' skills, character traits and all those
other things have ended up being far more important than what I
did or didn't learn at school.
</p>
<p>
It turns out that I'm not motivated for book-work at all. You can't
put a bunch of exercises in front of me and expect me to do them without
some incentive. But if you give me a problem that's actually challenging,
such as designing a mechanical system, programming a computer game with
some system no-one has done before, then I'll use my own inititive and
motivation to do it.
</p>
