<h1>When the going gets tough</h1>
<p>... the tough get going? Or so the saying goes. I think there are three things people do when the going gets tough: they try to change the situation, they try to change themselves, or they leave.
</p>
<p>
The one the saying mentions "the tough get going" generally means that the person tries to change the situation. Examples of this are Martin Luther King, Jr's "I have a dream" speech. He (and all black Americans) were in a tough place, and he decided that the best way to deal with it was to try change it. So he spoke out. In this case he was tackling a cultural problem, so a speech was a good way to try tackle it. For other problems, the best way to tackle it may be physical (punch it), technical (engineer a solution), and I'm sure there are others.
</p>
<p>
The next method is to change yourself. The best example of this is when you move from one place to another. Maybe you have no friends because no-one in the new location does anything you are interested in. So what do you do? You can try to introduce people to your interests (change the situation), or you can try get interested in what the people around you are doing (change yourself). Or if you move country and no-one speaks your language, you can't change everyone else, but you can learn the language yourself. The same can apply to other situations: you aren't making enough money to heat your house? You either have to find a new job, wear more clothing or get used to the cold. All of those involve changing yourself.
</p>
<p>
The final way you can deal with a tough situation is to leave. This is often the easiest and is often portrayed as cowardise, but I think it takes it's own kind of strength. Consider a case where a community turns from a caring, supporting one into a toxic one. You probably aren't going to be able to change everyone else, and changing yourself would compromise your own values, so the only other option is to leave. In this case, peer pressure would encourage you to change yourself, and it is only with great courage that you can convince yourself to see the problem and make the decision to depart. Of course, not every tough situation involves moral conflict, but hopefully you get the idea.
</p>
<p>
These three options are the foundation of human freedom, and if you take any of them away, you run the risk of hurting a lot of people. If you stop people from changing the situation, you turn into an oppressive dictator. If you stop people changing themselves, you have turned into the tought-police (and are probably in some kind of cult), and if you stop people leaving, you're something akin to a slave-master. So don't be any of those people!
</p>
