<h1>Chaotic Systems Shirt</h1>
<p>A couple days ago I made this shirt. I put the shirt over my computer screen and drew out the design with a washable marker. Then I painted it by hand using normal spray paint (which I sprayed into a tub) and a paintbrush. It's already survived a couple washes. I'm pretty happy with it</p>
<img src="shirt.jpg">
