<h1>The Return of Innovation</h1>
<p>
Today I was walking into town (about 6km), and on the way was thinking about the best way to seal a manta-ray-like underwater ROV, how to gear down an angle grinder to drive a scooter, realizing that lithium air batteries won't solve problems with battery manufacture due to lithium extraction (though they may solve other issues), and realzing that driving a coilgun stage with the flyback from the previous stage was just an air-core flyback transformer. </br>
And then it hit me: I hadn't been thinking of things like this for a very long time.
</p>
<p>
Back when I was in high-school and university I would build and try a zillion things - most of them failures. I would build computer games that sucked, fail to create a mountain-board, build just the wings of an RC aircraft, or creating (probably) the crappiest robot arm in existance. I remember one day on the way home from school wondering if an airship could land in the atheletics field. I sketched plans for vehicles built from bicycle wheels, and tried to measure johnson noise by hitting a resistor with a butane torch.
</p>
<p>
Go back even further and I have "instruction manuals" for creating mars rovers from when I was in primary school. (FYI building a mars rover apparently consists of nothing but putting a motor and some gears into a box and attaching some wheels....) 
</p>
<p>
Then what? Then I moved country and got a job. I had very little equipment, and no space for a workshop. I made a few computer games over that time, and after a few years I bought a 3D printer and made some small RC vehicles, but that was about it.
At the time, I remember thinkg
ing "what have I lost?" and trying to find ways and places where I could create. Only a few months before I departed did I finally find a hacker-space-like-place.
</p>
<p>
I've spent the past year taking a break from working - doing lots of outdoor conservation activities. During that time I've met some great people. One is building a tandem electric bike, and we're working together on designing a 800mm cubed 3D printer. Another is up-to-date on AI and is imagining an awesome future. I have space for a workshop again and now have a host of tools with which I can cobble things together.
</p>
<p>
I think ideas need certain conditions to thrive. They need people to discuss them with, and the freedom to try, fail, and analyze the result. They need resources to be available and budgets that allow some wastage. Without these things, idecannot be made into reality, and if they are not made into reality they slowly vanish from your mind.
</p>
<p>
So what crazy ideas do you have? When was the last time you tried to bring one into existance?
</p>
