<h1>CaveFly</h1>

<p>
I'm a fan of spaceships and caves, even if it's 2D. Partly inspired by
a game called <a href="https://github.com/callaa/luola">luola</a>, a split-screen
multiplayer game, and partly inspired by a game I developed for a 5x7
dot matrix display, this game is about atmosphere and exploration.
</br>
The aim: Fly around, turn on the lights, land where you started. Rinse 
and repeat.
</p>

<div class="gallery">
<img src="cavefly2.jpg">
<img src="cavefly1.jpg">
</div>

<iframe width="308" height="200" src="https://www.youtube.com/embed/Xo3KWO04eHM" frameborder="0" allowfullscreen></iframe>

<h2>Downloads</h2>
<p>
The blend files (works on most 2.6+ series blenders, tested on 2.76) 
can be downloaded from <a 
href="https://gitlab.com/sdfgeoff/CaveFly">gitlab</a> . I continue to 
poke around in it every now and then, and may make a web version of it 
at some point.
</br>
I also plan to make a linux and windows executable at some point for 
those who don't have blender installed.
</p>
