<h1>The value of silence</h1>
<p>
Over the past few weeks I've come to realize how much I value silence when working. Silence both allows focus which is one of the reasons why I tend to stay up late coding rather than doing it during the day. If I do want to program during the day I often end up at a library rather than the flat I'm currently living in.
</p>
<p>
However, there is one activity that requires silence that can't be done late at night or in a library: video recording. I wanted to make a video about some experiemnts I've been running with AI code generation, but to do so requires me speaking loudly/clearly and it requires very low levels of background noise.
</p>
<p>
It seems like a paradox: you want somewhere quiet so you can make noise. It's a hard thing to get access to unless you own a house or rent an office building.
</p>
