<h1>To The Surface</h1>
<p>
This is a pure exploration game. There is no combat, there are no 
puzzles. Significant effort went into the sound design and ambiance to 
try make it interesting but it is an experiment to see if a game where 
the only achievement is finding things can be a fun game to play.
</p>

<div class="gallery">
    <img src="to_the_surface_1.jpg">
    <img src="to_the_surface_2.jpg">
</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/erZ93yCgOHs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>
What do you do: fly a spaceship through a cave and find interesting 
locations. There are seven locations for you to find. If you're after a 
bit of relaxing escapism, give this game a go.
</p>
<p>
It was created in two weeks for the #AdvJam2018 although it may or may 
not be qualified because I built a tool to assist in building levels a 
week before the contest started (but not the game itself). Even with 
that tool I ran out of time for the environments I had in my head.
</p>
This game was developed in UPBGE and the source blend files are available for download. I've provided builds for windows, but if you're on mac or linux, you can still play! Download upbge and the blendfile pack and press "P" to play after opening ToTheSurface.blend
</p>

<h2>Downloads</h2>
<p>
There is a binary build for <a href="ToTheSurface-windows.zip">Windows machines.</a>
The blend files can be downloaded in a <a href="ToTheSurface-blendfiles.zip">zip file</a>, and the
whole development history <a href="https://github.com/sdfgeoff/BGMC28-to-the-surface">is on github.</a>
</p>

<h2>Attribution</h2>
<p>
The speech of the spaceship is from the Nasa moon missions. The music is
"The Earth is Blue" by Stellardrone.
</p>
