<h1>Beach Land-Sailing</h1>
<p>
Way back I saw an instructable of a guy who mounted a windsurfer sail onto a skateboard and rode it down the beach. At the time I didn't have the ability to purchase either a windsurfer or a mountain-board, so the project dissapeared to the back of my mind. The other day it re-emerged as I got given an old windsurfer. So after half-a-dozen runs to the hardware store, a land-sailing-skateboard was made
</p>
<img src="sailing1.jpg">
<img src="sailing2.jpg">
<img src="board1.jpg">
<img src="v1_trucks.jpg">
<p>
I already have a V2 with front steering in the works...
</p>
<img src="v2_in_progress.jpg">
<img src="board_v2.jpg">
<p>
And yes, those may be 3D printed heim joints. Probably not a good idea, but I'll see how they go.
</p>
