<h1>Outside vs Inside</h1>
<p>
What is visible outside isn't necessarily what is going on inside. I've had periods over the past few years where I've been relatively depressed. Arguably, I still probably am. But there's something odd I've noticed: Sometimes when depressed I act as you'd expect a depressed person to - unable to smile, unable to feel enjoyment. Other times I am smiling, laughing at jokes, but internally I am  watching my body go through the actions - my emotions just aren't connected.
</p>
<p>
The biggest thing for me is realizing that my mood is worse when I am alone. So if someone asks "how are you doing?" or "are you feeling OK?", chances are that the act of meeting with that person and having a conversation has raised my mood - at that point I'm not any measure of depressed. But 10 minutes after they've walked out the door....
</p>
<p>
So if you know a person who acts normal most of the time, but you've had a glimpse into their internal state, they may be much more depressed than you'd expect. It's not that they're trying to hide it, they simply can't show it.
</p>
