<h1>Elvish Penannular Brooch</h1>
<p>
I'm planning for a hike with some friends in which we all wear cloaks. Because, well, why not! As such, I'm busy manufacturing penannular brooches for us to use.
</p>
<p>
Here's the latest ones I've made:
</p>
<img src="elvenbrooch3.jpg"/>
<img src="elvenbrooch1.jpg"/>
<p>
While browsing google images, I came across Hannah's blog <a href="http://makingrivendell.blogspot.com/">Making Rivendell in the Desert</a>. In 2013, the author <a href="http://makingrivendell.blogspot.com/2013/11/elven-penannular-brooches-designs.html">posted</a> some elven brooch designs:
</p>
<a href="http://makingrivendell.blogspot.com/2013/11/elven-penannular-brooches-designs.html"><img src="designs.jpg"/></a>
<p>
I liked these designs as they were both beautiful and functional, and that is a rare combination! So I set about thinking how to make them. Eventaully I ended up with a method that really doesn't require that much in ways of tools or resources. It's made from 3mm brass rod and 1mm brass sheet. The tools used are a fretsaw to cut the sheet, a dremel to engrave the stem (this could equally well be stamped), a hammer to flatten the brass rod, and some pliers to bend it. Depending on your brass rod you may need to anneal it in order to bend it. You can do this with any source of heat more powerful than a candle: gas bbq, tramping stove, butane "windproof"  or "jet" lighter etc.
</p>
<p>
The trick to making the leaf and pin is to make it in one part so that you don't have to join anything. This can be done by using a special shape:
<p>
<img src="elvenbrooch2.jpg"/>
<p>
There is enough space between the leaf and the pin that anything short of the thickest cloak will be able to be fastened with it. The pin is not as strong as some of the brooches I've been forging, but it seems to me like it should do just fine unless an orc grabs you.
</p>

<p>
The most tedious part is definitely cutting out the leaf. Cutting by hand with a fretsaw took me a good hour or so, but I think the results are worth it. Go slow, take your time and it will be done eventually. Bending the ends of the brooch around were a close second because initially I tried to do it without annealing the brass. I spend a good hour with hammers and pliers, and after annealing it only took me a few minutes. So yeah, just anneal it. 
</p>
<p>
Oh, and @Hannah, if you want me to make you one and send it to you, drop me an email: <span id="e"></span>
</p>

<script>
    field = document.getElementById("e")
    field.innerHTML = atob("c2RmZ2V"+"vZmZAZ21ha"+"WwuY29t")
</script>
