<h1>Dancing vs going through the moves</h1>
<p>
For the past few months I've been doing social dancing fairly regularly. I recently have been thinking about what makes the difference between a great dance and an OK dance.
</p>
<p>
First up, I dance modern jive, similar to ceroc (though independant). I dance the tradional role for a guy: the lead. But I honestly think the follows have the harder time. Sure, the leads have to remember the moves, but the follows have to interpret our hand motions and figure out where to go. Similarly, the leads will lead moves they know, but the follow just has to do their best with what the lead throws at them - and somehow they do it with style!
</p>
<p>
The simplest model of a (partner) dance is: "Two people going through a sequence of pre-learned motions in time with music". And to a certain extent, it is correct. The music starts, you grab a partner, start moving in time with the music, and then start doing some moves that you learned at a dance class. You're dancing, right? Well, yeah, I guess so. But there is no skill other than the mechanical perfection of performing the moves, and the more moves you know the better dancer you become. </br>
But I think this model is like saying "the more coloured pencils you have, the better an artist you are". I think it should be obvious to most people that there's a big difference in artistic ability between a 5-year-old and a professional artist - and it's got nothing to do with how many coloured pencils they have! With that logic, learning more moves doesn't necessarily make you a better dancer.
</p>
<p>
So if becoming a better dancer isn't about knowing more moves, what is it about? Perhaps if we talk about dance as a conversation: moves are like words, so knowing more of them allows you to be more eloquent, but a conversation is more than just the words. And with this analogy, a better dancer is a person who can spin the words together better - tell better stories, and understand more clearly what the other person is saying. I think that is actually pretty close to the mark, though I'm finding it very hard to put into words exactly why. Perhaps it's because although there are the titles of "lead" and "follow", a good dance involves giving the follow the freedom to take part in the creativity - in much the same way as that a conversation should be two sided. 
</p>
<p>
Whatever dance actually is, I think it's a hang of a lot of fun. Despite stepping on feet, colliding with my partner, and accidentally leading them somewhere impossible (I did say that I think being a follow is harder than being a lead, right?), some of those technically terrible dances have resulted in the biggest smiles and loudest laughs. </br>
And that's the point of social dancing, isn't it.
</p>
