<h1>Metal Dragon</h1>
<p>
It's been a while since I've done any 3D/CGI art. It's funny how it goes. First you come up with the idea, then you build the model. Then you slap some textures on, followed by endless repetitions of tweaking shaders, adding dirt and twiddling lighting setups. Finally you notice that the dragon you drew in the first 10 minutes has weird biceps. Oh well, that'll be that for the night.
</p>
<img src="dragon1.jpg">
<img src="dragon2.jpg">
<p>
Also wow, free textures are so easy to find these days compared to when I started doing 3D art
</p>
