<h1>Logistics games</h1>
<p>
There are many games like Factorio, Mindustry and The dyson sphere program where the player is tasked with logistics - managing resource distribution for exceedingly complex systems.
Because it's a game, the system design and "construction" is managed by a single person. This is possible because the game does all the "hard" work - employing the hundreds of thousands of construction workers, feeding and housing them while construction takes place etc.
</p>
<p>
But, it goes to show that a single person can understand and manage some ridiculously large systems with very little assistance. In the real world, supply chains are managed by multiple people. There is no "one overseer" of all irons mines in the world. Nor is there one person overseeing the distribution of bauxite to aluminium smelters.
</p>
<p>
A certain brand of science fiction deals with turning computer games into reality - Enders Game focus' on turning a strategy game into reality, and others use androids to turn FPS/style games into actual combat. I wonder if you could do the same for logistics. You get a really experienced gamer in a room, give him a diagrammatic representation of all manufacturers/consumers of some resource and ask him to optimise.
</p>
