<h1>Quad Robot</h1>
<p>
I always wanted a walking robot. So I built one! It's made from a bucket load
of 9-gram servo's. Good thing they are so cheap. Even though each servo only
draws ~150mA, by the time you have 12 of them all together you have a huge
1.8Amps. Ouch! </br>
The chassis is made from flattened food cans soldered together. The templates
were designed in Blender, printed and cut out.
</p>

<div class="gallery">
<img src="quad1.jpg"/>
<img src="quad2.jpg"/>
<img src="quad3.jpg"/>
<img src="quad4.jpg"/>
<img src="quad5.jpg"/>
</div>

<h2>Blender Simulation</h2>
<p>
I simulated it in blender! This was as a bit of an extension to an assignment
to derive the inverse kinematics for a robot arm. I guess I got carried away.
The walk cycle is generated procedurally and would probably not work on a real
robot due to the simulation not considering the center of mass. But it looks
quite cool.
</br>
<iframe width="500" height="315" src="https://www.youtube.com/embed/ZEtxEr_ZzJY" frameborder="0" allowfullscreen></iframe>
</br>
The files for this are available at <a href="https://gitlab.com/sdfgeoff/walking-robot-assignment">gitlab</a>.
</p>

<h2>State</h2>
<p>
At the time when it was built the IK implementation had some issues. Now that
I've got a working solution in Blender I should be able to port that across
when I have some time! I'll probably need a more powerful processor
unfortunately.
</p>
