<link rel="stylesheet" href="../style.css?v=2"> 
<style>
.transparent{
    opacity:0.9;
}
</style>
<div class='transparent'>
<iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=pilot|?&theme=cli#simplesix" style="border:0; width:100%; height:95%;"></iframe>
</div>
