<link rel="stylesheet" href="../style.css?v=2">  

<style>

table{
    font-family: monospace;
    text-align: justify;
    color:#FFFFFF;
}

td {
    width: 45vw;
    vertical-align: text-top;
    padding-left: 1vw;
    padding-right: 1vw;
}

.right{
    text-align: right;
}


select {
    background: #444444;
    color:#FFFFFF;
    width:10vw;
    border: 0;
}
input.number {
    background: #444444;
    color:#FFFFFF;
    text-align:right;
    width:10vw;
    border: 0;
}

input.text {
    background: #444444;
    color:#FFFFFF;
    text-align:right;
    width:10vw;
    border: 0;
}
</style>

<script src="../Game/Scripts/miniloader.js"></script>
<script type="text/javascript">
requirejs('config.js')
requirejs('cookie.js')

window.onload=configpage

function makeKeySection(){
	g=document.getElementById("keyboardSection")
	g.innerHTML = ''
	tbl = document.createElement('table')
	g.appendChild(tbl)
	
	r = tbl.insertRow();
	c = r.insertCell()
    c.innerHTML = '<h5>Keyboard Settings</h5>'
    c.colSpan = 2
	
	for (control in KEYS){
		r = tbl.insertRow();
		c = r.insertCell()
        c.innerHTML = control
		
		keyListBox = document.createElement('select')
		keyListBox.id = control
        
		
		for (k=0; k<KEY_LIST.length; k++){
			option = document.createElement("option")
			option.text = option.value = KEY_LIST[k] 
			keyListBox.add(option)
			if (KEY_LIST[k] == KEYS[control]){
				keyListBox.selectedIndex = k
			}
		}
		
		c = r.insertCell()
        c.appendChild(keyListBox)
        c.className = 'right'
		
	}
}

function makeMouseSection(){
	g=document.getElementById("mouseSection")
	g.innerHTML = ''
	tbl = document.createElement('table')
	g.appendChild(tbl)
	
	r = tbl.insertRow();
	c = r.insertCell()
    c.innerHTML = '<h5>Mouse Settings</h5>'
    c.colSpan = 2
	for (m in MOUSE){
		r = tbl.insertRow();
		r.insertCell().innerHTML = m
		entry = document.createElement('input')
		entry.id = m
		entry.type = "number"
        entry.className = "number"
		entry.size = 25
		entry.value = MOUSE[m]
		c = r.insertCell()
        c.appendChild(entry)
        c.className = 'right'
	}
	r = tbl.insertRow()
	
}

function makePilotSection(){
	g=document.getElementById("pilotSection")
	g.innerHTML = ''
	tbl = document.createElement('table')
	g.appendChild(tbl)
	
	r = tbl.insertRow();
	c = r.insertCell()
    c.innerHTML = '<h5>Pilot Settings</h5>'
    c.colSpan = 2
	
	//Name:
	r = tbl.insertRow()
	r.insertCell().innerHTML = 'Name'
	entry = document.createElement('input')
	entry.id = 'pilotname'
	entry.type = "text"
	entry.size = "15"
	entry.value = PILOT['pilotname']
    entry.className = "text"
	c = r.insertCell()
    c.appendChild(entry)
	c.className = 'right'
    
	//Color:
	r = tbl.insertRow()
	r.insertCell().innerHTML = 'Color'
	colr = document.createElement('input')
	colr.id = 'color'
	colr.type="range"
	colr.min=0
	colr.max=360
	colr.step=1
	colr.value = PILOT['color']
	colr.style.width = "90px"
	colr.onchange = updateColor
	
	colbox = document.createElement('span')
	colbox.id = 'colbox'
	colbox.innerHTML = '&nbsp;&nbsp;&nbsp;&nbsp;'
	colbox.style.color = colbox.style.backgroundColor = 'hsl('+PILOT['color']+', 100%,50%)'
	
	c = r.insertCell()
    c.className = 'right'
	c.appendChild(colbox)
	c.appendChild(colr)
	
	
	
}

function updateColor(){
	colbox = document.getElementById('colbox')
	colval = document.getElementById('color').value
	colbox.style.color = colbox.style.backgroundColor = 'hsl('+colval+', 100%,50%)'

	
}

function configpage(){
	c = loadconfig()
    KEYS = c['keys']
    MOUSE = c['mouse']
    PILOT = c['pilot']
	makeKeySection();
	makeMouseSection();
	makePilotSection();
    setInterval(saveconfig, 500)
}
</script>

<body>
<div class='interior'>


    <table><tr VALIGN=TOP>
		<td><section id='keyboardSection'></section></td>
		<td><section id='mouseSection'></section> </br>
        <section id='pilotSection'></section></br>
        <div class='right'><button onclick="resetconfig()">Set to Defaults</button></div>
        </td>
		
    </tr></table>
    
</div>
</body>
