<link rel="stylesheet" href="../style.css?v=2">

<style>

.level{
    display:inline-block;
    width:20vw;
}
.pilotName{
    display:inline-block;
    width:15vw;
    margin:-8vh 2vw;
    overflow: hidden;
    text-overflow: inherit;
}
.comment{
    display:inline-block;
    width:30vw;
    margin:0vh 2vw;
}
.host{
    margin:0vh;

    display:inline-block;
    float:right;

}


select {
    background: #444444;
    color:#FFFFFF;
}

input {
    background: #444444;
    color:#FFFFFF;
    width:100%;
}

button{
    background: #444444;
    color:#FFFFFF;
}

</style>

<script src="../Game/Scripts/miniloader.js"></script>
<script>
requirejs('config.js') //For pilot name
requirejs('json.js') //For level list
window.onload = function(){
    loadconfig()
	loadJson('../Game/Levels/levellist.json', continueLoad)


}

levelData = {}

o = false
function clearText(e){
    if (o == false){
        g=document.getElementById("comment")
        g.value = ''
        o = true
    }
}

function continueLoad(leveldict){
    levelData = leveldict
    g=document.getElementById("content")
	g.innerHTML = ''


	levellistbox = document.createElement('select')
	levellistbox.id = 'level'
    levellistbox.className = "level"

    //The first entry:
    option = document.createElement("option")
    option.text = 'Random Level..'
    option.value = null

    levellistbox.add(option)

	for (level in levelData){
		option = document.createElement("option")
		l = levelData[level]
		option.text = l['name']
		option.value = level
		levellistbox.add(option)
	}



	g.appendChild(levellistbox)
	g.innerHTML += '<div class="pilotName" id="pilotName"><a href="#Controls">'+PILOT['pilotname']+'</div></a>'
	g.innerHTML += '<div class="comment"><input id="comment" value="Game Comment" onfocus="clearText()"></input></div>'
	g.innerHTML += '<div class="host"><button onclick="hostGame()" id="host">Play</button></div>'
	updatePilotName()
	//g.appendChild(tbl)

}

function updatePilotName(){
    loadconfig()
    document.getElementById("pilotName").innerHTML = PILOT['pilotname']
    setTimeout(updatePilotName, 2000)
}

function hostGame(){
	level = document.getElementById('level').value
    if (level == "null"){
        level = getRandomLevel()
    }
	console.log(level)
	comment = document.getElementById('comment').value

	obj = JSON.stringify({'level':level, 'comment':comment, 'name':PILOT['pilotname']})
	datastr = btoa(obj)

	window.top.location = "../Game/host.html?"+datastr;
}

function getRandomLevel(){
    levels = Object.keys(levelData)
    return levels[Math.floor(Math.random() * levels.length)]
}


</script>
<div class='interior' id="content">

</div>
