<h1>Life on an exponential curve</h1>
<p>
Recently I've been reading "Guns Germs and Steel" - a book that tries 
to explain human development while ignoring, well, human history. It's 
a fascinating approach that looks at differences of geography and so 
on. Early in the book is it presents the fact that sometime around 
40-50,000 years ago, humans suddenly got "a lot more 
interesting" and went from producing generic stone tools to producing 
specialized stone and bone tools. The author presents the idea that 
this is because humans suddenly evolved sufficiently advanced voice 
boxes to communicate. I think he's almost right, but I don't think it 
was evolution that suddenly gave humans the ability to speak, for 
reasons I'll go into in a minute. 
</p>
<p>
We commonly represent technological growth as an exponential curve. 
Here's what one looks like:</br>
<img src="curve1.gif">
</br>
Seems like all the interesting things happen recently eh? If you were 
to read the X axis as "thousands of years", then all the interesting 
stuff happened in the past couple thousand years. I mean, the stuff
on the left is just so flat! But if we zoom in the graph on that
flat bit, we see:</br>
<img src="curve2.gif">
Oh my goodness! It looks the same! This is the nature of an exponential
curve, and it has some interesting implications.
</p>
<p>
Because growth is an exponential curve, there are always interesting
things happening recently while history stretches on looking much
the same for thousands of years before. But if we dig around, maybe we
can see some of those "oh my goodness" moments that show that the exciting
stuff happens all the time, and it always happens recently.

<ul>
<li>Oh my goodness, we just figured out how to draw a map and represent spatial information on paper. Now people aren't going to get lost anymore</li>
<li>Oh my goodness, we just figured out how to store seed over winter. Now we're not going to starve</li>
<li>Oh my goodness, we just figured out how to tan leather. Now our clothing is going to last a lot longer and we aren't going to freeze</li>
</ul>

Each of these probably came with lots of minor iterations. Storing seed 
probably came with acknowledgement of the effects of dampness and led to a host
of building/construction improvements in order to improve the efficacy of seed storage.
Similarly tanning leather probably took a couple hundred (if not thousand) years to perfect.

</p>
<p>
But the most fundamental of all human technologies is this: the ability
to pass on information from one human to another. Internet, TV, Film, 
Radio, Telegraph, Photos, Postal services, Letters, Scrolls, Basic 
Literacy. Then down the bottom there things start getting murky. What 
came before writing and literacy? Well, at some point people learned to 
speak, but in terms of information transfer, they also learned how to 
teach. As far as we know, humans have no innate instinct for speech. All
speech is passed down from parent to child. As a result, humans had
to develop the ability to teach and to speak!
</p>
<p>
So what are some "oh my goodness" moments from this time in history:
<ul>
<li>Oh my goodness, we just realized we could use different words for food vs being hungry!</li>
<li>Oh my goodness, we just realized we could use different words to distinguish between when I'm referring to myself compared to when I'm referring to you</li>
<li>Oh my goodness, we just realized we could use different words to imply an action is in the past, present or future</li>
</ul>
Each of these realizations in language have HUGE impact in the complexity of
ideas that can be conveyed. Imagine the first time someone is no longer confused
about who is hungry. Makes a big difference to survival eh?
</p>
<p>
Another significant part is the passing on of knowledge. As far as I 
can tell this probably started with passing on of language. But maybe it
started out with passing on of mechanical skills and language evolved to
better support it. Or more likely they developed somewhat in parallel.</br>
Consider what it takes to teach someone how to make a stone tool.
You can demonstrate how to grind the edge of a stone against another 
one, and (because you can't speak), hope that they get the idea that 
they should copy you. Or maybe you want to pass on stone knapping. If 
you don't have language, it is likely hard to convey that you should 
put pressure on this part of the rock not that part of the rock. So to 
go from rubbing stones together to shaping tools with the <i>technology 
of knapping</i> it requires a development in language sufficient to 
describe these ideas. 
</p>
<p>
Passing on skills also requires the development of the idea that 
skills should be passed from one human to another. Consider teaching a
dog to shake hands. Just because you teach your dog how to do that
for a treat doesn't mean it's going to teach it's puppies how to
shake hands. As far as we know, dogs don't have the idea of passing on
that particular mechanical skill.
</p>
<p>
I had a brief read through wikipedias page on tool use in animals, and 
one that I find fascinating is chimpanzee's using grass and twigs to 
fish for termites in termite mounts, and this behaviour is being 
continued. The development of this behavior is HUGE to an early culture 
as it allows those chimpanzee's to gather more food faster and it shows 
they have some capacity to teach. Do you not think that at some point 
early humans developed the same technology, and by passing it on to our 
children, they were able to develop new and better things? This skill 
can be transferred purely through observation, so I wonder at what 
point language is required?
</p>
<p>
Of course, the question is: is there any evidence for this? 
Unfortunately you don't find fossilized words or behaviors alongside 
the fossilized tools, so it's likely to remain a mystery unless someone 
makes a time machine or unless we are patient enough to watch another 
animal species develop these skills.
</p>

<p>
So going back to the book "Guns Germs and Steel" what do I think happened
40-50,000 years ago when human history "suddenly" got a lot more interesting
in terms of artifacts? </br>
I don't think it was the evolution of a voice box. Humans can learn to 
communicate by timed beeps (morse code), by tactile feeling (braille) 
and hundreds of other methods. So even without a voice box at all, I 
think technological development can happen. Instead I think that was 
when language was sufficiently developed such that complex mechanical 
skills could be described and passed from one person to another.
</p>
