<h1>Diral-Seii</h1>
<p>I was reading a <a href="https://well-of-souls.com/outsider/">webcomic</a> the other day and it featured a very interesting item: it was a folding knife carved from bone on a string of hair. This fascinates me because string from hair was from 1,000,000 BC, bone knives are from 100,000 BC, and folding knives are as recent as 1,000 BC. Most items were phased out of use by the time the next one was invented! So of course I had to make one</p>
<img src="boneknifeblade.jpg"/>
<p>
In the comic, the handle was burned in a fire and only the blade is left. In my version only the blade was ever made. 
</p>
<p>
The bone was given to me along with some other jewellery making supplies about a decade ago when a friend left New Zealand, and it was carved using modern power tools (belt sander, dremel). The engraving was stained using black tea - which worked better than I expected it to.
</p>
<p>
The string is indeed made from my hair. Every morning when I brush my hair I put the strands into a bin near the bathroom. This bin gets nothing else in it, so it contained a lot of hair. Three hours later I had a thin cord of 2-strand twine, and 5 minutes after that I had ~40cm of 4-strand. 
</p>
