<h1> Learning Digital Drawing</h1>
<p>
As a kid I used to enjoy sketching with a pencil. As I went through school and
university, I did less and less art, though I still did doodle dragons
occasionally. As part of university, I bought a laptop with an active
stylus so that I could take notes with handwriting. Now I use that stylus
for digital art, which I enjoy as a change of pace from programming.
Many thanks to the guys who run "Daily Spitpaint" on facebook that keeps
me inspired with new topics to draw about, and to Bob Ross for being awesome.
</p>
<p>
This page has oldest at the top, and is so that I can see how I have improved
over time.
</p>
<p>
 
<h2>2013</h2>
I bought a graphics tablet my adventures into digital painting began.
</p>
<p>
<a href="Learning/Digital.jpg"><img src="Learning/Digital.jpg" title="Third Ever Digital Drawing"></img></a>
<a href="Learning/Wing.jpg"><img src="Learning/Wing.jpg" title="I often used to pencil sketch dragons, so here's a wing"></img></a>
<a href="Learning/Feather.jpg"><img src="Learning/Feather.jpg" title="Learning how to use brushes"></img></a>
<a href="Learning/Pendant.jpg"><img src="Learning/Pendant.jpg" title="Another early one"></img></a>
</p>
<p>
 
<h2>2014</h2>
 I bought a Samsung Galaxy Note 10.1, so I could now draw on the screen! But
I struggled to find an art program with a workflow that I liked. I settled on
Artflow, which does well enough.
</p>
<p>
<a href="Learning/Key.jpg"><img src="Learning/Key.jpg" title="Normal Objects"></img></a>
<a href="Learning/Knife.jpg"><img src="Learning/Knife.jpg" title="Normal Objects"></img></a>
<a href="Learning/Lightning.png"><img src="Learning/Lightning.png" title="Normal Objects"></img></a>
<a href="Learning/Flight.jpg"><img src="Learning/Flight.jpg" title="Normal Objects"></img></a>
</p>
<p>
 
<h2>2015</h2>
 In this year I bought a Lenovo Yoga, so I could now do art with a program
I knew (ie gimp). It didn't help anything as the limit was me.
</p>
<p>
<a href="Learning/IceAtNight.jpg"><img src="Learning/IceAtNight.jpg" title="Ice at night"></img></a>
<a href="Learning/PlantRoom.jpg"><img src="Learning/PlantRoom.jpg" title="What did you expect was in a plant room?"></img></a>
<a href="Images/Micropolis.jpg"><img src="Images/Micropolis.jpg" title="Inspired by Mortal Engines"></img></a>
<a href="Learning/Moonscape.jpg"><img src="Learning/Moonscape.jpg" title="I finally draw a scene that isn't too bad"></img></a>
<a href="Learning/Fire.jpg"><img src="Learning/Fire.jpg" title="What does fire look like?"></img></a>
<a href="Learning/Descending.jpg"><img src="Learning/Descending.jpg" title="Spacecraft Descending"></img></a>
</p>
<p>
<p>
 
<h2>2016</h2>
 In 2016 I discovered spit-paints (half an hour drawings on a set topic), but
I didn't do many of them.
</p>
</p>
<p>
<a href="Images/HoverVehicle.jpg"><img src="Images/HoverVehicle.jpg" title="Generic hovering vehicle"></img></a>
<a href="Images/Nebulae.jpg"><img src="Images/Nebulae.jpg" title="Drawn in a computer vision lecture"></img></a>
<a href="Images/Thunder.jpg"><img src="Images/Thunder.jpg" title="Spitpaint "Thunder""></img></a>
<a href="Learning/axe.jpg"><img src="Learning/axe.jpg" title="An Axe"></img></a>
<a href="Learning/mindcontrol2.png"><img src="Learning/mindcontrol2.png" title="Spitpaint "Mind Control""></img></a>
<a href="Learning/wheelsoffire.jpg"><img src="Learning/wheelsoffire.jpg" title="Spitpaint "Wheels of Fire""></img></a>
<a href="Learning/Blastoff.jpg"><img src="Learning/Blastoff.jpg" title="Spitpaint "Liftoff" (I think)"></img></a>
</p>
<p>
<p>
</p>
</p>
<p>
 
<h2>2017</h2>
 Some of my friends introduced me to Bob Ross, I started doing spitpaints more
often, and I learned how to look at lighting.
</p>
<p>
<a href="Learning/man.jpg"><img src="Learning/man.jpg" title="Me!"></img></a>
<a href="Learning/people.jpg"><img src="Learning/people.jpg" title="A man and a women"></img></a>
<a href="Learning/hand.jpg"><img src="Learning/hand.jpg" title="A hand holding a pendant"></img></a>
<a href="Learning/bobross.jpg"><img src="Learning/bobross.jpg" title="Bob Ross!"></img></a>
<a href="Learning/glacier.jpg"><img src="Learning/glacier.jpg" title="After walking in glacial valleys in the canterbury high country"></img></a>
<a href="Learning/antigravity.jpg"><img src="Learning/antigravity.jpg" title="Spitpaint "Antigravity""></img></a>
<a href="Learning/AttackPidgeon.jpg"><img src="Learning/AttackPidgeon.jpg" title="Spitpaint "Attack Pidgeon""></img></a>
<a href="Learning/desert.jpg"><img src="Learning/desert.jpg" title="Spitpaint "Desert""></img></a>
<a href="Learning/SpaceFlightTest.jpg"><img src="Learning/SpaceFlightTest.jpg" title="Spitpaint "First Space Flight Test""></img></a>
<a href="Learning/wreckage.jpg"><img src="Learning/wreckage.jpg" title="Spitpaint "Floating Wreckage""></img></a>
<a href="Learning/lightingthelamps.jpg"><img src="Learning/lightingthelamps.jpg" title="Spitpaint "Lighting the Fire Lamps""></img></a>
</p>

