<h1>Hacksapod</h1>
<p>
A walking robot!. After a discussion with a friend about walking
robots, the challenge was laid down to build a walking robot as simply
as possible. So I made the hacks-a-pod. Made from sheet aluminium, it
uses three servo's to walk. Despite it's size it can carry a
theoretical weight of 8kg. I've tested it up to 2kg, but was too scared
to go further - it is only 11cm square (I aimed for 10cm, but mucked up
some bends). I brought this robot out at an event at uni, and it
featured on the news that evening! (<a href="http://www.nzherald.co.nz/
technology/news/video.cfm?c_id=1503082&gal_cid=1503082&gallery_id=
151044">Here at 1:10</a>). It wasn't even related to the event.
</p>
<p>
This robot was designed using blender before it
was built. CAD solved a lot of problems and saved a lot of time. Here's
some photos and a video of it walking:
<div class="gallery">
<img src="hacksapod.jpg"</img>
<img src="hacksapod2.jpg"</img>
</div>
<iframe src="https://www.youtube.com/embed/kXLw9JDtvhE" allowfullscreen="" frameborder="0" height="240" width="320"></iframe>
</p>
<p>
It is loosely based on the design over at <a 
href="http://www.walkingrobots.com/hexapod.html">Walking Robots</a>, 
but I don't have access to the tools he does (namely the CNC waterjet 
cutter), nor did I want as many ball-link joints....
</p>
