<h1>Then vs Now</h1>
<p>
I've started converting all my posts from facebook over to this website,
because one day I will delete my facebook account, and I'd rather not
lose that content. However, I've noticed how different my interaction
with the internet is now vs how it was then.
</p>

<p>
Before we start: I've always considered my facebook profile public.
Some 99% of the posts there are visible to the world. Those that aren't
are mostly in private or hidden groups. To be honest, most of those
could be made public too, but wouldn't be useful without the context.
</p>

<p>
Righto, so what's changed from then to now? A lot, but most noticably
is the amount of things that I do. Back then I was posting pictures
of things I was making - and I was doing it at least a couple times
a week - jewellery, robots, art. It didn't matter.</br>
It's easy to say "you were are school then, and had loads of time",
but currently I am studying again, at a course that gives me even
more free time, and I feel like I'm doing far less.
</p>
<p>
After some thought, I think I've figured it out. Back then I did things
just because I could. It didn't matter how they turned out, I'd make
them and post them. I attached zero weight to the success or failure of
what I built. Now I do care about what I do. I want to use my time
making things that are useful, and I do attach some weight to the success.
I want each item I make to represent me somehow - maybe it's to show my
creative skill, maybe it's a gift to show that I care for someone.
</p>
<p>
But it seems like caring too much about what you make is a good way to stop you
achieving things. If you are too afraid of failure, you won't start a project.
If you are intending a project to show something, you may not start it because of
the risk it may not.
</p>
<p>
But there's another reason I haven't made some things: because I didn't think
they were commercially usable. I have considered many projects, and started
a few, and then realized that they were not commercially useful. Some of
these were thoughts about selling my handmade knives or jewellery, others
were niche tools such as a set of tools to simplify the process of making
small RC tracked vehicles.<br>
What if I hadn't cared about the success or failure of these? It's not
like anything else I've done with the time has made me any more money, 
and not working on these projects has deprived me of skills and experience.
</p>

<p>
So I think I'm going to head back out to the workshop, grab a bunch of tools,
and give something a go. Let's see how it turns out.
</p>

