<h1>A hike in cloaks</h1>
<p>
A couple weeks ago I did a hike where we all (9 of us) wore cloaks. It was an absolutely epic time, and we had a bunch of fun.
</p>
<img src="img3.jpg" alt="On my cloak is a Leaf of Lorien, hand-made by a good friend of mine.">
<img src="img2.jpg">
<img src="img4.jpg">
<img src="img5.jpg">
<img src="img6.jpg">
<img src="img1.jpg">
<img src="img7.jpg">
<p>
So why go hiking wearing a cloak? Well, back when I was at uni, one of my friends showed me a video where a guy was talking about how awesome cloaks were, and seeing as we're now grown up enough to do crazy things, we just went out and did it!
</p>
<p>
Most of us bivvied rather than tenting. Of the three people who brought tents/flys, only one ended up using his both nights! Seriously, if you haven't tried bivvying before, and you're out on a clear night, give it a shot: a good view of the stars, nice fresh air, you can hear the wildlife running around (this can be a pro or a con), and you don't have a tent flapping in the breeze keeping you awake. 
</p>
