<h1>The Value of Work</h1>
<p>
Recently I wrote a post that a person is more valuable than the work that they do. But I have also wondered why it is that modern society values a person by the amount of work they can perform.
</p>
<p>
My current theory is that it is purely evolutionistic: Consider two societies. One values people by the work they can perform. As a result, it pushes people to become farmers, engineers, salesmen and so on. A society that doesn't value people by the work places equal value on a waitress and a nuclear physicist. As a result there it does not push people towards self-development and so there is (likely) to be fewer highly-skilled highly-specialized workers. What does this result in? Well, in warfare, technological advances play a large part, so it is not unreasonable that the society with the higher proportion of farmers, engineers and scientiests will win. They will eradicate the society that values people via other means.
</p>
<p>
As in my other post, I think a person has more value than just the work they do. I think each individual is more than just a cog in a machine. But viewing people as cogs allows higher rates of productivity. (And also higher rates of dictatorship. Think about it: just about every company is a mini-dictator-state that blackmails it's employees. In many cases employees have only one option if they aren't happy: leave.)
</p>
<p>
But can we design a value system that results in better societal performance and ensures people are treated fairly? What would this look like? What if we value a person by their creativity? That could be said to be just another form of work, but creativity is also unique. Imagine what a world would look like if every item was an expression of the combined creativity of it's creators.
</p>
<p>
A colleage of mine from a previous job once talked about the difference in building styles between old and modern buildings. In a modern building the architect draws the plans and the builders and tradesmen do their best to follow the plans as accurately as possible. As a result the building expresses the creativity of a single person. In older buildings their is often an initial plan, but (at least from where I'm standing) it seems like there was more creativity from the builders. Consider a cathedral - the carvings on pillars may be commisioned from one stonemason, the tilework on the floor the work of another. How many people's creativity was expressed in that single building?
</p>
