<h1>Rondell Dagger</h1>
<p>
I did some HEMA this year, and one of the guys commissioned me to make a rondel dagger. So over about 10 hours split over two weekends, this is what I made.
</p>
<img src="rondel1.jpg"/>

<img src="rondel2.jpg"/>

<img src="rondel3.jpg"/>

<img src="rondel4.jpg"/>

<p>
It's loosely based on the Wallace Collection dagger in terms of overall size, and I've made the tip into a big bulbous ball so that it can be used for sparring. It has a very long handle because the guy who commissioned it has big hands and will be wielding it wearing HEMA gloves. The steel is Grade 500 Rebar, the rondells are brass, and the handle is rimu from an old house.
</p>
<p>
Driling the hole through the handle required a very very long drill bit. Fortunatley my local hardware store stocks a 8x250mm bit. I started the hole in a drill press, and then once I had gone as deep as I could, did the rest with a cordless drill - relying on the existing hole to keep it all in line.
</p>
<p>
Another fun story from creating it: I don't have a lathe, so I put the handle on a section of threaded rod and used a drill press. I supported the other end of the rod with a skateboard bearing held in a drill press vice. I then used a rasp for most of the initial shaping work. Not ideal, but it got the job done.
</p>
<img src="drill.jpg"/>
