<h1>Another knife</h1>
<p>
The other days, one of my good friends asked me what made a good knife for hiking. I can't remember exactly what I said, but over the following weekend I made him a copy of the knife I use (both everyday and when hiking).
</p>
<img src="knife.jpg">
<p>
The knife design is inspired by the Sgian Dubh, and it is large enough for everyday tasks such as chopping vegetables/meat, but is small enough that it packs anywhere without too much hassle (traditionally it is tucked into a persons sock).
</p>
<p>
The handle of this particular knife is Manuka, and it's a full tang blade. I also made a leather sheath, but forgot to take a photo of it!
</p>
