<h1>Why is applying for jobs so hard?</h1>
<p>
For the past few months I've been in the shadow of my course finishing. I've known it is coming up and that it has been the time to work on preparing my CV, gettin in contact with potential workplaces and so on. But I've been putting it off. I made a knife for a friend, worked on VFX and half a dozen other things simply so that I could justify not putting together my job applications.
</p>
<p>
So why is it that I dislike applying for jobs? Why is it that in order for me to actually work on them I have to drive to a remote location where there isn't internet access or distraction?
</p>
<p>
I think one part of it is that applying for jobs is inherently one of comparison - you read the job description and they describe their ideal candidate. You look at this and all you see are the parts you lack, which makes you say: "I'm not good enough." This goes for every job you look at. After a while you probably start getting a bit of imposter syndrome: If I'm not good enough for any of these new jobs, was I really good enough for the old one or was I just faking it?
</p>
<p>
Then there's the vulerability aspect. When you send in a CV you are sending yourself to be judged. "Here I am," you say, "I hope you like me." And then you never get a response. "They didn't like me..." you whisper to yourself.
</p>
<p>
Bleh, enough rambling. I've got another three appications I want to send in today. Side note: anyone looking for the strange combination of engineer, game developer and conservation worker?
</p>
