<h1>Changing Domain Registrars</h1>
<p>
Quick note that this site is changing from using Moniker as a Registrar to using Porkbun as a Registrar. It may be down for a bit as this change takes place and as I fiddle with my DNS settings...
</p>
<p>
Originally sdfgeoff.space was registered with alpnames. When alpnames mysteriously vanished it was automatically transfered to Moniker. I recently registered a bunch of other domains with Porkbun, and I think it's nice to have all my domains registered in one place. So yeah. Nothing wrong with Moniker. 
</p>
