<h1>Etched Keytag</h1>
<p>
I've been wanting to make myself a science-fiction looking
keytag for a while now, and finally got around to actually doing it.
</p>

<div class="gallery">
<img src="keytag.jpg" />
<img src="keytag2.jpg" />
</div>

<h2>The Process</h2>
<p>
It started off as a sketch on a pad of paper, and evolved into the
final design. From there it was digitized, first as a 3D model in
blender to check it's form, and then as a 2D stencil:

<div class="gallery">
<img src="keytag-concept.jpg" />
<img src="keytag-stencil.jpg" />
</div>

If I had been able to, I would have done a toner transfer onto the
aluminium, but I have never managed to do it sucessfully.
So instead, I used a piece of insulation tape as an etch resist. I
printed the stencil and stuck it onto the insulation tape. From there
I cut around it carefully with a craft-knife, leaving the border and
edges (the raised bits). It took about 20 minutes, and unfortunately
I don't have a photo.
</p>
<p>
I then placed the aluminium into a bath of salt water, attached the
positive connector of a power supply to it (and the negative side to
another electrode), and let it sit for half an hour. After half
an hour, the glue holding the insulation tape on started letting
go, so I had to remove it before the etch was as deep as I would have
liked. To increase the sense of the etch, I then coloured in the
keytag with a permanant marker. It rubbed off the smooth,
un-anodized/etched aluminium, but was drawn into the more porus etched
part.
</br>
After a quick surface-polish with 1200 grit sandpaper, I ended up with
the tag except for the hole (which I still have yet to drill).
</p>
