<h1>A trip into the red hills</h1>
<p>
I'm currently doing a course to become a forest ranger, and have just
returned from a trip to the "red hills" - a plateau near Porters Creek
Hut. We were up there for five days and (on the three working days) pulled
out approximately 13,500 pest pine trees. The seeds blow from several
plantations to the east, and establish themselves on the plateau. Without
pine control, the whole area would soon change from native forest/scrub
into a pine forest.
</p>
<p>
One thing that fascinated me was what we ended up doing in the evenings.
Being quite remote, there was no internet or "normal" entertainment
options, and as a result we had to use our creativity. There was a 
fair amount of riddles, and telling stories, but there was also a lot of
creativity. People carved things from what they found - one guy made a
fish slice (cooking utensil) from a piece of pine, another made a crochet
hook (which another student then used). I made a claw pendant, as well
as assembling some wooden stands to hold a pot over the fire.
</p>
<p>

Other highlights included:
<ul>
<li>What a fantastic team of people!</li>
<li>Stepping on a wasp nest and getting one up my trousers - 5 stings! At least I now know I'm not allergic (whew!).</li>
<li>Getting my hair plaited!</li>
<li>An awesome evening hike along the ridge with Max</li>
<li>Beautiful helicopter ride in.</li>
<li>Great weather. Even the rainy day was a lot of fun.</li>
</ul>
You know it's been an epic trip when a helicopter ride is down the bottom of a list of highlights!
</p>
<div class="gallery">
<img src="IMG_2053 - IMG_2062.jpg" title="A view over the whole area. Taken while on an evening stroll up the ridge">
<img src="IMG_2014.JPG" title="Our ride awaits">
<img src="IMG_2018.JPG" title="We're trainee rangers, and we're pulling out wilding pines. That means we're wilding rangers - right?">
<img src="IMG_2022.JPG" title="Camp all set up next to Porters Creek Hut">
<img src="IMG_2043.JPG" title="The trip just rocked! Also, the geology is really interesting - lots of iron gives the red hills their color (and name)">
<img src="IMG_2050.JPG" title="There was a rainy afternoon. When it cleared there was still some cloud hanging around the gullies">
<img src="IMG_2052.JPG" title="Great lighting on the distant hills">
<img src="IMG_2067.JPG" title="Lovely blue air">
<img src="IMG_2069.JPG" title="The sunset made a great orange glow in front of the distant hills">
<img src="IMG_2070.JPG" title="Another shot of the sunset">
<img src="IMG_2071 - IMG_2078.jpg" title="A panorama of the sunset">
<img src="IMG_2080.JPG" title="The sun burning off the morning fog on the final day">
</div>
