<h1> Sustainablilty?</h1>
<p>
These days everything is about sustainibility. In politics they talk
about it a lot, but never ever acomplish anything.
<br>
Let's try to look at this from a scientific point of view. What is
sustainability? Pretty much it's using only what can be regenerated in
some way in a finite (and presumably short) time span.
</p>
<p>
So things like trees, which grow in a year or ten are sustainable,
while coal, which takes centuries and perfect conditions, is not.
</p>
<p>
But are tree's really sustainable? In science you don't get something
for nothing. Tree's get their energy from the sun. The sun is a star,
and has a finite amount of fuel. Once it expends itself, it will take
millennia for a new star to form in approximately the same space. So
using the sun as a source of fuel is non-sustainable. It's vast, but
not indepletable. Admittedly, using it's energy won't change it's life
at all, but the fact is that we can't replace it.
</p>
<p>
Where else can we get energy from though? Are there any truly renewable
sources of energy? Nope. Not unless someone much smarter than me
discovers something that current physics says is impossible.
</p>

