<h1>Humanity is a Virus</h1>
<p>
"Humanity is a virus." - almost Agent Smith</br>

Cultures are born, spread, wane and die. Virus' are the same. Cultures thereforce have some of the same properties as virus'
For a culture to be successful, the number of people-groups adopting the culture must be greater than the number of people groups abandoning the culture.
If a culture belongs to exactly one people group it is fragile. Successful cultures spread.
</p>
<p>
Here's where it gets meta: Successful cultures influence the people group to encourage their spread:
</ul>
<li>The British tried to enforce imperial rule on the world during colonial times.</li>
<li>The US tried to enforce democracy on the world in modern times.</li>
</ul>
Why? Because in order for the culture to reach the level of "controlling a nation" it had already evolved to be able to successfully "infect" many many people groups, and it was "trying" to infecting more.
</p>
<p>
So there we have it. Humans may not be a virus, but perhaps humanity is.
</p>
