<h1>Another attempt to 3D print an airsoft gun</h1>
<p>
At the start of 2020, I build a quadrupedal mech armed with an airsoft
guns. Because I was aiming for a compact design I opted to design my 
own airsoft gun. The design I used back then had the muzzle velocity too
low and the accuracy too poor, so the project was shelved. I recently
had the time to give it another go, and ended up with an even worse
performing gun.
</p>
<div class="gallery">
<img src="airsoft_gun_1.jpg">
<img src="airsoft_gun_2.jpg">
</div>
<p>
"That doesn't look like an airsoft gun" I hear you say. Well, it's the
simplest prototype of the mechanics I could design. There's no trigger 
mechanism, no gearbox, just the bare minimum proof of concept. A 
typical airsoft gun uses a air chamber with a spring-driven piston that 
forces air through the chamber, so that's what I made.
</p>
<p>
The original design used a rubber band to accelerate the BB pretty much
directly. This means that the BB velocity is equal to the rubber band
velocity, and that any motion in the plunger that pushes the BB is
transferred into the BB. Here's a video of the original:
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2ceF-oKmBak" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
It achieved 25FPS - I wanted 100FPS, and it had an angular shot dispersion
that meant you couldn't hit a 5cm grouping at 1m. Clearly insufficient for
any actual use.
</p>

<p>
In contrast, the new mechanism uses the rubber bands to compress air, and
the air accelerates the BB. Once again I went for a fully printed 
design, and drilled out the barrel and sanded the plunger smooth so 
that the fits were better. Initial tests were promising, with me being 
able to blow a BB out the barrel to a range of a couple meters, but after
attaching the plunger and powering it with rubber bands, the muzzle velocity
was far far to low. The shots barely made it more than 2m. 
</p>
<p>
I think the seals are just too poor. The seal between the two halves 
leaks a bit of air (though you can blow the punger out), and the seal around
the plunger also leaks a fair bit despite the vasiline I added. A lot of this
is likely down to layers lines and the poor job of bridging my printer did,
so it's possible a reprint would improve things, but the fact that it is
far worse than the previous incarnation is a bit demotivating.
</p>
<p>
I have a couple ideas, ranging from improvements to the original design 
to a hexagonal air-chamber (3D printers can prints straight lines more accurately 
than circles).
I may try a plain-old reprint at some point with different slicer 
settings, but I think that will be another day.
</p>
