<h1> What Makes a Hero</h1>
<p>
Is a hero someone who helps people when they need it? Or is it a person
who does the right thing in the difficult times?
</p>
<p>
 
<h2>Types of Hero</h2>
 
One type of hero is a sacrificial or warrior hero. A person who
dies to further some action can be classed as a hero, regardless of how
they die. They are a hero because people will look at them in a history
book and say 'he did all he could for ....' Essentially, they are a
hero because they are remembered. Of course, we don't remember all
these people by name. We do not remember all the people who died in the
Roman Army to protect their town, and in turn allow civilisation to
advance. But that does not make them any less a hero.
</p>
<p>
A second type is a helpful hero. These people help other people. Some,
such as Florence Nightengale and Mother Teresa, devote their entire
life to it. But most helpful heros are somewhat unsung. When you help
someone else, their perception of you will change slightly, and often
they will remember you, even if it is only for a short while as 'the
person who helped me catch a bit of paper that was blowing away.'
</p>
<p>
A third type is a scientific or 'knowledge' hero. People such as
Newton, Einstien. There heroism is visible in the way that we have
built on their achievements, that we have taken what they gave us, and
used it.
</p>
<p>
 
<h2>So What does it mean?</h2>
 But all these types of hero have one thing in common. They are all
people who devote time to doing something. They also all believe that
there is something that needs doing that they can do. Superman believed
in fairness, and stood up for that. Saito, kodia, and many of the other
crew of Space Battleship Yamato believed they were less important than
the mission they were on, and sacrificed themselves for it. Even your
parents, when they disciplined you as a child are heros. They believe
that bringing you up with moral and ethical standards is more important
than how you feel about them. That takes real courage.
</p>
<p>
But by this standard, where all hero's are just people who practice
what they preach, is there such a person as a villian? Because a
villian is a person who opposes a hero, and in doing so is acting on
what they believe is right.
</p>
<p>
You see, there are winners and there are losers. And the winners decide
who is the hero. After the world wars, in films, the Germans were
always the villians; and after the cold war, it was the Russians. But
had things gone differently, it could well have been that Americans
were the villians.
</p>
<p>
It all depends where you stand, and to a certain extent, it comes down
to if truth is absolute or relative. If truth is relative, then yes,
all villians are hero's. But if there are absolute truths, then
villians can be defined as people who work against these absolute
truths.
</p>

