<h1>Days of Life</h1>
<p>This weekend I went on a hike to Rocks Hut. It's a reasonably short hike (took me 4.5 hours, but it's nominially rated at 5.5), but the weather wasn't so great - strong winds and walking through the clouds/mist. Despite all of this, it was a day of life
</p>
<p>
A couple months back I decided that stormy days should be reframed as "days of life." Why? Because it makes them sound more interesting, and I think it represents an important mind-shift. What does one do on a windy/rainy day? You sit inside, take shelter and avoid going out as much as possible. but outside, much is happening! It is as if humans sleep, but the world is awake.
</p>
<p>
And if you head outside on those days when the world is awake, you may hear the sound of wind through the grasses, you hear the high-pitched sounds of rain falling onto a still lake. Even the feeling of cold can be an indication that <i>you are alive</i>.
</p>
<p>
And so, the hot windless days are days of relaxation. But the wild days are the days of life.
</p>
