<h1>A kitchen knife for a friend</h1>
<p>
A couple weeks back I mentioned to a friend of mine that I made knives as
a hobby. Of course his question was "Can you make me one?" to which I
answered "Yup". This is the result:
</p>
<div class="gallery">
<img src="knife1.jpg"></a>
<img src="knife2.jpg"></a>
</div>
<p>
The first thing to know is what type of knife he wanted. Turns out he
had a picture of one he liked:
<div class="gallery">
    <img src="sample_knife.jpg">
</div>
It's made by <a 
href="https://www.instagram.com/hendrikmaxknives/">Hendrik Max 
Knives</a> and is a real work of art. While I didn't want to copy the
design exactly for ethical reasons, I thought I could use it as inspiration
 - a drop point, a multi-wood handle, some texture variation on the blade.
</p>
<h2>The Blade</h2>
<p>
Now, I'm limited by the tools and materials I have. I don't have a 
forge - which limits me to stock removal techniques. So the first order
of business was to find a suitable piece of steel. I went for a cruise
around the hardware store and looked at things ranging from machette's
to lawnmower blades to garden loppers and woodworking saws. Eventually
I settled on a nail-puller flat pry-bar. It was a thick piece of steel 
(5-6mm), and I reasoned that because it was used in a application where 
strength was required, the steel would probably be of an OK quality. 
When I put the steel on the bench grinder there were some fairly bushy 
sparks, so I knew I was good to go.
</p>
<p>
I cut out the shape with an angle grinder, and cleaned up the profile 
with the bench grinder. Then I had to figure out how to make the 
super-wide bevels. I started off on the bench grinder to get it roughly 
to shape, and then started to flatten it by hand with a piece of 80 
grit sandpaper (a bench grinder, being a round thing, does not 
easily make flat surfaces). After a couple minutes I re-evaluated - it 
would take all week by hand. So I had to find another solution. That solution
ended up being building a linisher on my bench grinder:
<div class="gallery">
    <img src="bench_grinder.jpg">
</div>
It's made from a piece of 3mm steel bar, two skateboard wheels, and some M8 bolts.
A bit after I took the photo I added a platten to help sand things flat.<br>
Some interesting things about this tool:
<ul>
    <li>I didn't have a drill press (that'll be one of my next 
    purchases), so instead of holes, every bolt is in a slot cut with 
    my angle grinder</li>
    <li>The tracking is adjusted by bending the m3 bar</li>
    <li>The tension is adjusted by sliding the M8 bolt holding the 
    front skateboard wheel in it's slot</li>
    <li>The skateboard wheel's inner diameter was a bit too large for 
    the shaft of the bench grinder, so I 3D printed an adapter. The 
    actual torque is transferred in the same way as a normal grind 
    stone: the clamping force of the bolt</li>
    <li>The whole thing cost about $60NZ including the skateboard and 
    the sanding belts!</li>
</ul>
After that, flattening the grind of the knife was a pretty quick job.
</p>
<p>
The metalworking was finished by sanding the grind/bevel with progressively
finer grits until I was at 1200. For some reason I can't buy sandpaper 
with finer grits anywhere locally! But for this steel which isn't the 
hardest, going to a mirror polish would probably only serve to 
highlight scratches picked up during use.<br>
I left the spine of the blade at it's 60 grit, with just a quick polish at
1200. This means there's a bit of texture variation towards the spine. It
isn't so visible in the photos, but I expect it to become more clear as
the blade develops a patina.
</p>
<h2>The Handle</h2>
<p>
The handle is made from three woods: Kwila, Mahogany, and Oak. The 
Kwila comes from an offcut of decking from the hardware store. The oak 
was scrap from a local woodworking shed I went to a couple times, and 
the Mahogany is from a 1/8" sheet I purchased in 2009 while I was in 
highschool (I've just about run out now).
</p>
<p>
These woods were cut to approximate size and then laminated together.
They were then painstakingly cut into two scales by hand. A bandsaw 
would have made this a really quick job, but it ended up taking ages as 
I couldn't figure out how to clamp the thing for the final centimeter 
of the cut. After cutting I ended up dropping one of the scales and it 
broke along one of the laminations. So when I epoxied the scales into 
place on the blade, I put some glue there and made sure to apply some 
clamping force to squish it back together. By the time it was sanded smooth
I couldn't even tell which one it was that broke!
</p>
<p>
Final shaping was done on the linisher - being careful not to allow the belt
to touch the blade, and it was time to pick a finish for the handle.<br>
A couple years ago I discovered cyanoacrylate as a finish, so a quick
trip to the local dollar store gave it to me in the form of small 
bottle of super-thin super-glue. I did probably 5 or 6 layers in half an hour,
followed by sanding it smooth and polishing it up to the same 1200 grit.
</p>
<p>
Yes, I did get my fingers glued to the cloth I was applying the glue with.
</p>
<h2>The Giving</h2>
<p>
So I gave it to him this week. Did he like it? Yup! 
</p>
<p>Mission accomplished.</p>
