<h1>French Pass</h1>
<p>
On Wednesday there suddenly arose the opportunity to got to French Pass and do some work out there. It was an absolutely amazing trip - some good work done, and lots and lots of eating!
</p>
<p>
The course I'm doing is divided into two classes of about 20 - each with a slightly different focus. The one I'm part of is more focused on conservation activities: chainsawing, bird identification, pine control etc. The other has a larger community focus. There was a field trip organized for the other class, but on the morning only 3 of them turned up!!! We didn't have much organized for the rest of the week, so suddenly there was the opportunity to go and spend a couple days out in the field. By suddenly I mean a "if you want to come we're leaving" sort of suddenly. 
</p>
<p>
In the end, 4 people from our class decided to tag along, and because it wasn't our field trip (so there was less pressure on us) it felt more like a holiday. Sure, we pulled out weeds, processed a bunch of firewood, and got rid of a paddock of pine trees, but we got a free stay at a beautiful location!
</p>
<p>
I must say that the highlight of the trip was food. The first night was an amazing kumara mash with pork chops. Simple and delicious. The second day we went fishing in the afternoon and ended up with enough blue cod and muscles to feed us for a couple days (two fish per person is really quite a lot). Yum.
</p>

<div class="gallery">

<img src="epic_skies_1.jpg" title="The skies as we drove in were dark and epic">
<img src="epic_skies_2.jpg" title="As the weather moved off, the sky had amazing clouds">
<img src="epic_skies_3.jpg" title="As the weather moved off, the sky had amazing clouds">
<img src="epic_skies_4.jpg" title="As the weather moved off, the sky had amazing clouds">
<img src="wharf.jpg" title="As the weather moved off, the sky had amazing clouds">

<img src="durville_coastline.jpg" title="The sunrise looking up the coast of D'Urville Island">
<img src="morning_sunrise.jpg" title="The sunrise looking out across the Cook Straight">
<img src="morning_sunrise_1.jpg" title="All of the first morning sunrise">


<img src="sunny_afternoon.jpg" title="It cleared to a nice sunny afternoon">
<img src="pano.jpg" title="All of the second morning sunrise">
</div>

