<h1>The Nature of Critique and Praise</h1>
<p>
Why is it that sometimes when someone says "you've done a great job", we internal go: "ahhh, nope"? What is it that determines if we accept criticism, or if we let it pass over us?
</p>
<p>
I think a lot of it has to do with our perception of the other persons reasons for offering the criticism or praise, and how much we that area. When I was working in Switzerland I was working as a (pretty much) lone software developer for quite a while, and so when my manager/boss (a non-technical person) gave a performance review, I didn't really trust his judgement of if I was doing a good job. But later, when I was joined by other co-workers on the project (and a technical-oriented boss), their evaluation was much more meaningful - because I knew they knew what they were talking about.
</p>
<p>
There are several other cases this sort of thing has happened. Once while cycling home I saw a guy running around the garden of a house, and the homeowner yelling at him to go away. So I stopped to watch and be a witness if needed. The guy running around came and insulted me, but I have little memory of what he said. He probably saw me as an interfering busy-body (and maybe I was being one), and didn't really know me, so I didn't respect his judgement of my character.
</p>
<p>
But then at dance (I do modern jive), one person told me how they described me to their friend: "Tall with friendly eyes - and with a beard". That cheered up my whole week - because they have no bias that would lead them to say "friendly eyes" as I barely know them, so I can trust them to be impartial. I'm not sure how "friendly eyes" ranks higher than the massive beard I'm currently supporting though!
</p>
<p>
Another strange praise-critique happened recently while doing a construction course. We were building handrails onto a bridge. The three of us building it were all pretty down about it because the original bridge was not square or level, and so various parts of our construction weren't either. Our tutor (when he came around) seemed thrilled with it, and despite respecting him and trusting his judgement in that area, his praise didn't quite seem right because it disagreed so strongly with ours. However, when the landowner came and looked and also liked the work we had done, the weight of their two praises ourweighed our own despondence. It seems there is some weighting attached to quantity of praise! The more people that say "that's a good job" the more likely we are to believe it.
</p>
<p>
So anyway, I think that we only accept criticism or praise if we trust the persons motives, if we trust their ability to judge in that area, and if it fits with what we (and others) evaluate of the situation. If not, then the praise rings hollow.
</p>
