<h1>Apocolypse Dance</h1>
<p>A week or two back we had a post apocolyptic themed dance party. So of course we all dressed up - and then spent a couple hours afterwards messing around taking photos.</p>
<img src="dip.jpg" title="Clearly the best way to shoot zombies is when you are upside-down"/>
<img src="unite.jpg" title="Unite! Long live the revolution!"/>
<img src="henchmen.jpg" title="Don't get in my way"/>
<img src="sillhouette.jpg" title="Who's this approaching?" />
<img src="theboss.jpg" title="Don't mess with the boss"/>
<img src="team.jpg" title="We're in it together"/>
<img src="machette.jpg" title="We're not in it together :)"/>
<img src="bottle.jpg" title="If in doubt, carry a propane tank for maximum excitement"/>
<p>
The props come from a variety of sources - most were whipped up on Daniels laser cutter that morning, but the pistol is a 3D print I did. The model is a paid model from <a href="https://cults3d.com/en/3d-model/gadget/gunnm-alita-battle-angel-pistol-manga-fan-art">lowseb</a> (and there are several things I would change to make it more printable if I were to design it, but it does look fine). It was finished with a layer of silver spray paint, a layer of flat back, a rubbing of graphite and then some dry-brushing on highlights. The result is pretty cool. 
</p>
<img src="pistol.jpg"/>

<p>Photos uploaded with the permission of Daniel and Kat. Thanks for the great evening!</p>
