<h1>The Future of AI and Engineering</h1>
<p>
The future is big and it is awesome. For years now we've been using computers to "automate the boring stuff" and we just got a whole lot closer to automating a whole lot more boring stuff.
</p>
<img src="orbital.jpg"/>
<ul>
<li>Last year it was text and writing with GPT-3</li>
<li>A few months back software development got a step up with Github Copilot</li>
<li>This month it was art with Dall-E, Imagen and Stable Diffusion</li>
</ul>
<p>
In all three fields, I rate it about as good as a really motivated high-school student - capable of amazing things, but often a bit distracted.
</p>
<p>
Even if AI is never sentient (whatever that particularly means), the tools it will allow are amazing. Need detailed CAD design? simply describe the part you want adequately.
Some people are annoyed that their job essentially becomes "typing random text at an AI and hoping it does the right thing" but isn't that exactly what a manager does? "Hey worker, here's a paragraph of text telling you what I want you to work on for the next month" The only difference is that the AI will do exactly what you ask, but will probably get it wrong - so you have to check if it's doing the right thing. Treat the AI like a remote worker, where all you can do is email them.
</p>
<p>
So where does this leave engineers? We are people who specialise in solving other peoples problems. Good news! There's no shortage of problems to solve. Bad news! your job is now more like middle-management: talking to people and talking to computers. 
</p>
<p>
The future will be amazing. Imagine a world where every item is custom-built to your specifications. All you have to do is describe it adequately, check that the computer understood you correctly, and then wait while some factory manufactures it and it is shipped to your door. 
For a guy like me who enjoys making things, that sounds pretty ideal! I've got many many projects lined up ready to go.....
</p>
<p>
<hr/>
<p>
Want some specific predictions of how things will look:
</p>
<ol>
<li>
Coding will not be done by humans. AI's and expert systems will generate machine code directly from descriptions of the intent of the software. They will (try) to pull from context to understand what you *mean* rather than what you say.
</li>
<li>
CAD design becomes reasonably obsolete. Describe the interfaces and constraints and it will figure out the rest. It won't be like modern "generative design" but will make actual engineering decisions about manufacturability, part strength, factors of safety etc.
</li>
<li>
Electronics will become increasingly single-chip. Why bother with PCB's if an AI can just pack it all into one lump of silicon for you. Lower cost, lower failure rates, lower power requirements etc. Coupled with #1 we may see a huge increase in the number of ASIC's. You literally build the software into the chip.
</li>
<li>
Sounds like every problem will be solved, right? Wrong. All the easy ones will be solved, but new ones will be found. Expect accelerating research and development into technologies we can barely conceive of actually existing! But after all, each scientist will be backed up by an AI with access to libraries of information, and apparatus can be constructed like never before. 
</li>
<li>
Industry 4.0 actually happens.
</li>
<li>
Stores will increasingly sell one-of-a-kind items. You go to a clothing shop and every item of clothing is unique. When you decide to purchase one, a new one is manufactured for your exact fit. Or perhaps the very notion of a physical store becomes obsolete (they already pretty much are in many industries and for many people). 
</li>
<li>
Humans will still be humans. We'll still be lonely, confused, joyful and depressed. We still won't have figured out this whole "being human" thing - just like always. We'll still hang out with friends in the physical world, and go down to the pub with them.
</li>
</ol>
<hr/>
<p>
The cover image is generated by Stable Diffusion with the prompt: "mankind recently started building an orbital construction facility, john harris"
</p>
<p>
If you don't know who John Harris is, go check out <a href="https://www.alisoneldred.com/john-harris/">his paintings</a>. Even in a world of endless digital art, John Harris is still painting with oils on canvas and creating the most beautiful abstract-sci-fi. To me it is proof that a good artist is a good artist, regardless of medium and technologies. AI is just another step further away from drawing on a sandy beach with our fingers.
Fun fact: John Harris' paintings cover many of the sci-fi-books loved as a kid.
</p>
