<h1>GroundCrawler</h1>
<p>A couple weeks back I decided to use some of the TPU filament I had and build another small RC tracked vehicle. The result was this little guy. I'm pretty happy with the design including the mechanics and aesthetics. For it's size it's got a pretty good ground clearance, and (unusual for it's size) the tension in the tracks can be adjusted.</p>
<div class="gallery">
<img src="img1.jpg">
<img src="img2.jpg">
<img src="img3.jpg">
<img src="img4.jpg">
<img src="previs2.jpg">
</div>
<p>
The electronics (not pictured) is an ESP32-cam and DRV-8833 running a (highly highly modified) variant of Ross Peter's Scout32 Firmware. 
</p>
<p>
    The one thing I'm not so happy with is that I printed the tracks with one segment too many. I have no idea how this happened because the count is parametric, but it did. I've checked
    and the files are now correct.... Speaking of which, the STL files for 3D printing <a href="./GroundCrawlerStlV1.zip">can be downloaded</a>
</p>
<p>
    The complete design was in FreeCAD, and is one of the larger undertakings I've done there. I used the Assembly4 workbench and ... the experience wasn't great. Still a lot to be desired in freecad's ability to link between files.
    I think new version now support direct linking without the Assembly workbench, so I'll have to give that a go sometime.
</p>
<p>
    Source files and code on <a href="https://github.com/sdfgeoff/GroundCrawler">github</a>.
</p>
