<h1>Iris Business Card</h1>
<p>
For a long time I've wanted to have a business card that was just a little bit different. I considered doing PCB/electronics, or 3d priting one, and then arrived at the idea of 3D printing one with moving mechanical components.
</p>
<div class="gallery">
    <img src="card1.jpg">
    <img src="card2.jpg">
</div>
<p>
This is a standard size business card although it is 3mm thick. It costs $0.50 in materials and takes about an hour to print. It can be operated as soon as it is removed from the build plate, and after a few cycles the motion is quite smooth.
</p>
<video autoplay muted loop width=48%>
    <source src="anim_1.mp4">
</video>
<video autoplay muted loop width=48%>
    <source src="anim_2.mp4">
</video>


<p>
This project started back in March 2020, and I created a card that used a thin sstrand of PLA that could flex. This meant I didn't need any pivots or complex mechanisms. In theory there were exactly two parts. In practice, because of the thin strand of PLA the iris blade could move in any direction. So it needed support from both sides which involved a two-part shell that press-fit together. I didn't manage to get it robust enough, and the spring force of the iris coupled with friction made it feel a little tacky to operate, so I dropped the project.
</p>
<img src="all_cards.jpg">
<p>
This past week I was a bit sick, so I had some time to kill. I realized that you could do print-in-place captive bushings. And with a little tweaking, you could join between these bushings to make an overhang. And thus you could make a 100% print in place thin mechanism. The bottom "layer" is ~1.5mm thick, and consititutes any moving parts. Then you have a ~0.25mm gap. Then you have a 0.25mm "bridge assist layer" that joins between the bushings. This gives the top layer something to be supported on so that it doesn't droop down into the mechanism.
</p>
<p>
And so I printed out a business card with a mechanical iris. The first version was done "artistically" in blender to help me discover the fundamentals of the mechanism. Once I knew what I was building, I then made a precise version in freecad. I quite like the process of Sketch/paper -> blender -> Parametric CAD as it helps preserve large amounts of creative freedom until the prototyping stage.
</p>
