<h1>A Wooden Chest</h1>
<p>
I was moving from from one city to another, and needed something to
store all my stuff in. I've always wanted a wooden chest, so it was the
perfect time to make it happen.
</p>
<div class="gallery">
<img src="chest1.jpg">
<img src="chest2.jpg">
<img src="chest3.jpg">
</div>
<p>
The chest is made from pine and finished with a couple coats linseed 
oil. I really like the "glow" that the oil gave the wood. It's matt and 
the light seems to penetrate quite far into the wood. 
</p>
<p>
Anyway, not much to say here, it's a wooden box and was a fun afternoon 
project
</p>

