:root {
  --content-size: 50em;
  --card-spacing: 0.4em;
  --card-width: calc((var(--content-size) - var(--card-spacing)*6) / 3);
  --card-height: calc(var(--card-width) / 1.61);
  --border-radius: 2px;
  
  --primary-title-color: #e94;
  --secondary-title-color: #9de;
}


html {
    font-family: monospace;

    background: #222;
}

.title {
    background: var(--primary-title-color);
    border-radius: var(--border-radius);
    padding: 1em 2em;
    margin: calc(var(--card-spacing) * 2) var(--card-spacing);
}

h1 {
    margin: 0;
}

img {
    width: 100%;
}

code {
    display: block;
    padding: var(--card-spacing);
    margin: var(--card-spacing) 0;
    background-color: #DDD;
    white-space: pre;
    overflow-x: scroll;
}

.content {
    background: #EEE;
    border-radius: var(--border-radius);
    padding: 0.1em 1em;
    margin: var(--card-spacing);
}

.container {
    width: min(var(--content-size), calc(100% - 1em));
    margin: 0 auto;

    padding: 0em 0.5em;

}

.gallery img {
    height: 10em;
    width: auto;
    max-width: 100%;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.float-clear {
    clear: both;
}

.footer {
    color: var(--primary-title-color);
    margin: var(--card-spacing);
    padding: 0.5em;
    border: solid 1px;
    border-color: var(--primary-title-color);
    border-radius: var(--border-radius);
}
.footer a {
    color: var(--primary-title-color);
}

/* Cards are small images with a label that
 * are a link to somewhere else. They are used
 * on the home page and the various index pages */
.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    
    border-radius: var(--border-radius);
    
    margin: var(--card-spacing);
    overflow: hidden;
    
    display: inline-block;
}

.card .card-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
    position: absolute;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.card .card-aperture {
    width: 100%;
    height: 100%;
    position: absolute;
}


.card .card-label {
    width: 100%;
    text-align: center;
    
    position: absolute;
    top: 0em;
    opacity: 75%;
    
    padding: 0.5em 0em;
    font-weight: bold;
    background-color: var(--secondary-title-color);
    transition: opacity 0.7s ease;
}
.card {
    text-decoration: none;
    color: #000;
}
.aperture-blade {
    transition: transform 0.7s ease;
    fill:rgba(255,255,255,0.3);
}

/*
Animation of the aperture SVG opening
*/
.card:hover > .card-aperture > .aperture-blade:nth-child(1) {
    transform: translate(-76px, 64px);
}
.card:hover > .card-aperture > .aperture-blade:nth-child(2) {
    transform: translate(17px, 98px);
}
.card:hover > .card-aperture > .aperture-blade:nth-child(3) {
    transform: translate(93px, 34px);
}
.card:hover > .card-aperture > .aperture-blade:nth-child(4) {
    transform: translate(76px, -64px);
}
.card:hover > .card-aperture > .aperture-blade:nth-child(5) {
    transform: translate(-17px, -98px);
}
.card:hover > .card-aperture > .aperture-blade:nth-child(6) {
    transform: translate(-93px, -34px);
}
.card:hover > .card-background {
    filter: grayscale(0%);
}
.card:hover > .card-label {
    opacity: 0%;
}
