<h1>How to cheat at piano</h1>
<p>
Every so often I sit down at a piano-like-object and make some music. Sometimes this is a physical piano located in a mall, sometimes it is a synthesizer plugged into my computer. If I'm playing around someone who knows me, they'll often go "Oh, so you're pretty good at piano." I smile and nod but internally I know that ... I cheat. 
</p>
<p>
Here's the thing. I play the music that comes into my head that I know I can play. From one set of chords I will internally generate what chord to play next (based on sequences I've found that I like), and then I'll figure out a way I can get their "prettily". But because it is the music that I generate, and the way to get from A to B is using progressions that I have composed, they are ones I know I can play. I compose as I go.
</p>
<p>
A couple weeks ago I was asked to play keys in the church band. It was my first time playing piano for performance in, oh, probably 15 years or so. And when practising for it I found that for every chord I played, I would internally hear the other chords I could go to. Being forced to go to the ones the music had written down was ... boring. "Please play this sequence ten times as we do it twice in the verse and three times in the chorus." Dude! There are like a million other places you can go from those first two chords!
</p>
<p>
And then there's trying to play fills (or melody). They are some other pianists decorative bits rather than my own, and as a result they don't fall under my fingers the same way my own decorations do. Playing piano is hard when you are trying to imitate someone else.
</p>
<p>
So am I a good pianist? Heck no. It takes me a week of practice to get a grade 2/3 song anywhere near presentable. But that doesn't stop me making beautiful music - so long as it's my own music rather than someone elses.
</p>
<p>
Don't feel you have to be good at something to make it your own. I am not a good musician - except at the music I compose. I am not a great knife maker - except at the knives that I make. I am not a great CAD designer - except the designs that I do. I am not a great software developer - except for the code that I write.
</p>
