<h1>LED Bike lights</h1>
<p>
These days I bike 14km each way to work. This happens morning and evening when the sun is low and the light confusing. After a near miss, I decided to do something about it - to mount some really really bright lights on my bike.
</p>
<img src="bikelights.jpg">
<p>The front light is a driving flood light intended for mounting on 4WD vehiciels. It competes with the low-beams of cars and outputs a solid wall of light. The real LED's are a normal red strip. They're inteded to run at 12v, but I've got the regulator set to closer to 7.5v. It's still plenty birght! Powering this lot is a ryobi cordless drill battery that sits in a 3D printed holder on the bike frame. The battery gives ~4 hours runtime - or just over 2 days commute.</p>
