<h1>Don't eliminate low percentages</h1>
<p>
A company I've had some involvement with is planning to change it's vehicle fleet. Currently it operates both 2wd and (part time) 4wd pickups, and after some analysis has decided to ditch the 4wd's and only use 2wd's. Why? Turns out the 4wd's are only used in 4wd mode in the single digit-percentage range.
</p>
<p>
Myself I consider it a bad move. It's like deciding not to carry a first-aid kit when hiking because "it's heavy and I pretty much never need it. If I did need it I can always call an ambulance." This is well and good until you have an injury and are outside of communication range. The continual cost of carrying it is paid back because of it's extreme usefulness that one time you <i>need</i> it. 
</p>
<p>
If you're using 4wd only (say) 1% of the time, and it's only needed to prevent getting stuck 1% of that time, then you only "need" a 4WD 0.01% of the time. So why bother paying the extra money? Well, lets say you have a fleet that makes 100trips per day. This means a vehicle will get stuck (on average) every 100 days. What is the true cost of the vehicle getting stuck:
<ul>
<li>The cost of calling out a recovery vehicle</li>
<li>The cost of damage to the vehicle (eg if it slid off the road)</li>
<li>The cost of injuries to people (including if they try to un-stuck the vehicle)</li>
<li>The lost work that the vehicle would have been doing</li>
<li>The cost of rescheduling work</li>
</ul>
This company works in rather remote areas, so it may take a recovery vehicle hours. Trips the 4WD's are used on are often multi-day heavily planned things. A single days delay may mean the work is not completed and another whole trip may need to be sceduled. Trips can be influenced by the time of year, weather, external provider availability (Eg helicopters) and by the time you factor all that in it may be a year before the trip's goals can be accomplished. If the trip is part of a multi-year data collection project, a lost trip could  severly impact the outcomes of the project. The list goes on....
</p>
<p>
Another "cost" is damage to the 2WD vehicles during non-stuck operation. We took one of their 2WD utes along a track (because the 4WD's were all busy), and it had lower ground clearance. As a result we did a fair bit of scraping even though the load we were carrying wasn't ridiculous. Similarly, you can get a 2WD a lot of places, but you have to be heavier on the peddle, so the risk of accident is higher.
</p>
<p>
I'm sure some accountant has tried to factor all these things in and probably has access to far more data than I do, but to me I'd say keep at least a couple 4WD's around. You may not need them often, but sometimes they can make a big difference.
</p>
