<h1>Why learn a (useless) martial art?</h1>
<p>
A couple months ago I started attending an Aikido class. It is a well known fact on the internet that Aikido is one of the most "useless" martial arts. It isn't good for taking down an opponent, it isn't good for self defense. So why am I doing it?
</p>
<p>
Two years ago (or thereabouts), I started dancing. I do Modern Jive - a partner dance. After a couple months I progressed from beginner moves to beginner plus, and later to intermediate. I now regulaly practice and freestyle various dips, leans and drops. However I noticed one thing about my dancing: My footwork sucks,I often compromise my frame to accomodate for short partners, and when doing a lean or a dip I often feel slightly off balance. How to improve? Well, I could keep dancing lots and pay attention to these things - or I could try find another way.
</p>
<p>
Enter Aikido. Go watch a video and tell me it's not some form of dance. It's dance with grabs and flips and falls, but definitely a dance. And the main criticism of Aikido: the "attacker" (Uke) who you are defending against has to know what's going on. That's totally a partner dance. And in order to do this form of dancing, the Aikido practitioner has to have ... good footwork, a solid frame, and a good sense of balance. If they don't, then they lose control of the situation. And so, when the opportunity to learn Aikido presented itself, I said "why not" and signed up for a year of classes - my thinking being that learning these skills will come faster in an adversarial context.
</p>
<p>
That was a few months ago now, and what's my thinking? Well, I can totally see how the "Aikido Sucks" came about. As a dancer, I can see and feel momentum transfer. When training as an attacker I can feel when my momentum is redirected incorrectly. When training as the defender, I can feel when the conditioned response comes in (and when I do it myself). When watching even the higher-grades spar (randori), I can see the the momentum transfer and how often it works and doesn't work. Hillariously, when attempting to do sparring myself, I can't think of any Aikido moves, but I can think of a dozen dance moves - all of which end up with my "opponent" remaining upright and in perfect control of themselves. 
</p>
<p>
But is it working? Am I learning footwork and balance? Yup. Even just when moving around the house I can observe changes in how I do things - I don't compromise my frame nearly as much when picking things up off the ground. I am much more aware of where my feet are, and now pay far more attention to the distance between myself and a dance partner. Even my connection has changed: I tend to keep my hands closer to my body, and I can redirect a partners momentum with much smaller motions of my wrists. I can feel where they are, and am much more confident at leading into leans and drops. When attending a dance workshop a couple weeks ago, I was amazed that many of them taught skills learned in the first few weeks of Aikido!
</p>
<hr/>
<p>
It is curious to compare the two styles of teaching between Modern Jive and Aikido. In Modern Jive, we teach three moves, and then do an hour or two of freestyle dancing. In Aikido they teach 5-6 techniques focussed around one 'super-technique' (eg a particular grab, a particular fall etc.) and then onces evvery couple seeks do sparring. So it is no surprise to me that Aikido (and any martial art that doesn't do sparring regularly) doesn't end up being "functional" for combat against trained opponents. Good thing my self defense technique is "avoid conflict and run away."
</p>
<p>
So, am I enjoying Aikido? Yup. I enjoy the structured nature of the training, the low-level adversarial nature of it, the fact that it doesn't involve striking (I'm very hesitant to do any 'real' combat training), and doing forward rolls is great fun! It's changed how I move and how I dance, and that's what I'm after. More than that? Well, I'll let you know next year....
</p>
