<h1>CaveX16</h1>

<p>
This game was made for a game making competetion where the theme was
"Underground." It was made in a week. Pretty much the aim is to
mine all the crystal in the map. You can use the crystal and
ore to buy more/better mining vehicles.
</p>

<div class="gallery">
<img src="cavex16menu.jpg">
<img src="cavex16road.jpg">
</div>
<iframe width="308" height="200" src="https://www.youtube.com/embed/nLiuMQNYxso" frameborder="0" allowfullscreen></iframe>

<p>
This was a very fun project to work on, as it involved terrain
modification, and a level of interaction between entities that I
haven't encountered before. I learned a lot from this project,
though I don't know RTS's are quite the style of game I'll make again.
</br>
Many thanks to PPSKI for working on the pathfinding. Without that
it wouldn't have been possible to build it in a week.
</p>
<h2>Downloads</h2>
<p>
The blend files (works on most 2.75+ series blenders, developed on 2.77a)
can be downloaded from <a href="https://gitlab.com/sdfgeoff/BGMC21-Crystal-Miner">gitlab</a>.

I also plan to make a linux and windows executable at some point for
those who don't have blender installed.
</p>

<h2>Concept art and Models</h2>
<div class="gallery">
<img src="cavex16concept.jpg">
<img src="cavex16digger.jpg">
<img src="cavex16concept2.jpg">
</div>
