<h1>Bluemine Island</h1>
<p>
Our class went to Bluemine Island - a predator free island in the 
Marlborough Sounds. I took my camera along and had some fun taking 
scenic photos.
</p>
<img src="pano1.jpg">
<img src="pano2.jpg">
<img src="pano3.jpg">
<img src="pano4.jpg">

<div class="gallery">
    <img src="people.jpg" title="A long exposure of some people on the beach one night">
    <img src="sunset.jpg">
    <img src="stone.jpg">
    <img src="matt.jpg" title="One of my friends Matt">
    <img src="moon.jpg" title="The moon caught in a Manuka Tree">
    <img src="sunrise.jpg">
</div>
